
/* --- Home Version2 Banner----- */
.banner_wrapper {
    float: left;
    width: 100%;
    position: relative;
    z-index: -2;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
}
.banner_wrapper .banner_overlay {
        background-color: rgba(0, 0, 0, 0.1);
}
.banner_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.banner_wrapper img {
    width: 100%;
}
.banner_2{
    background-image: url(../images/banner_2.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
}
.banner_2 .tab-content > .active {
    display: block;
}

.search_wrapper {
    position: absolute;
    top: 43%;
    left: 50%;
     width: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.search_wrapper .search_title h3 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.add_slider {
    float: initial;
    width: 100%;
   
    
}
.add_slider .owl-height {
    height: 100% !important;
}
.add_slider_content {
   /*     float: left;
    width: 100%;
    position: relative;
   */    position: relative;
    padding: 30px 3% 15%;
    width: 100%;
    
}
.add_slider_content h2 {
    font-size : 33px;
    margin: 0 0 0 38px;
    font-family: 'Source Sans Pro', sans-serif;
    display : inline-block;
    font-weight: bold;
    line-height: 29px;
    padding-right: 15px;
}
.add_slider_content span {
    font-size : 30px;
    margin: 0;
    display : inline-block;
    
    font-weight: bold;
}
.add_slider_content span small {
    font-size: 22px;
    margin: 0;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.add_slider_content .add_slider_content_nw {
    padding: 0;
    margin: 0;
}
.add_slider_content .add_slider_content_nw {
   
    padding: 10px 25px;
    
    
}
.add_slider_content .content_nw1:after {
    content: "|";
    position: absolute;
    right: 0;
}
.add_slider_content ul li:last-child:after {
    display: none;
}
.add_slider_content .btn_wrapper {
    float: right;
    margin: 10px 0;
    width: auto;
    overflow: hidden;
}

.search_tab_wrapper .search_form input {
    border-radius: 0;
    height: 50px;
    position: relative;
    box-shadow: none !important;
	border-bottom: 1px solid transparent;
}
.search_tab_wrapper .search_form .search_btn {
    position: absolute;
    top: -1px;
    right: -1px;
    display: block;
    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
    overflow: hidden;
    z-index: 1;
    border: 0px;
}


.search_wrapper .search_title {
    padding: 20px;
    float: left;
    position: relative;
    overflow: hidden;
}
.search_tab_wrapper ul li a {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 20px;
    border: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}
.search_tab_wrapper {
    float: left;
    width: 100%;
}
.search_tab_wrapper .nav-tabs > li.active > a, .search_tab_wrapper .nav-tabs > li.active > a:hover, .search_tab_wrapper .nav-tabs > li.active > a:focus {
    border-radius: 0;
    box-shadow: none;
    border: 0px;
}
.search_tab_wrapper ul li a:hover, .search_tab_wrapper ul li a:focus {
    border: none;
}
.search_wrapper .search_title {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    height: 100%;
    
}
.search_tab_wrapper .tab-pane {
    padding: 20px;
    float: left;
    width: 100%;
}
.search_tab_wrapper .search_form {
    float: left;
    position: relative;
    width: 100%;
}

.search_tab_wrapper ul li a:after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 117%;
    left: 50%;
    margin-left: -10px;
    visibility: hidden;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    cursor: text;
}
.search_tab_wrapper .nav-tabs > li.active > a:after {
    visibility: visible;
    animation: fadeIn 1.6s;
    -webkit-animation: fadeIn 1.6s;
    -moz-animation: fadeIn 1.6s;
    -ms-animation: fadeIn 1.6s;
    -o-animation: fadeIn 1.6s;
}
.search_tab_wrapper ul {
    border: 0px;
}

