.banner_wrapper {
    float: left;
    width: 100%;
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center center;
    min-height: 422px;
}
.banner_wrapper .banner_overlay {
        background-color: rgba(0, 0, 0, 0.1);
}
.banner_overlay{
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: auto;
}
.banner_wrapper img {
    width: 100%;
}

.first_revoslide .slide-description1 {
    position: absolute;
    float: left;
    top: 115px;
    padding: 2px 23px 20px;
    background-color: #fff;
}
.revolution_slider .second_revoslide .slide-description2 {
    position: absolute;
    left: 50px;
    top: 10px;
    padding: 2px 23px 20px;
}

h3.third_revoslide_h{
    font-size: 25px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: bold;
 }
.revolution_slider .third_revoslide .slide-description3 {
    float: right;
    top: 115px;
    padding: 2px 23px 20px;
    background-color: #fff;
}
.revolution_slider  h3.first_revoslide_h{
    font-size: 25px;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: bold;
     color: #000;
 }
.revolution_slider  p.first_revoslide_p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #000;
 }
.revolution_slider h2.soi_title1 {
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 0 100px;
    font-size: 35px;
    padding: 40px 0 0 0;
    font-family: "Montserrat-Regular";
    font-weight: bold;
}
.revolution_slider p.soi_description1{
   text-align: center;
    text-transform: uppercase;
    margin: 0 0 35px -200px;
}
.revolution_slider .first_revoslide .revo_img{
    margin-top:70px;
    float: right;
    
}
.first_revoslide .revo_img img{
    width: 289px; 
    height: 289px;
}
.second_revoslide .revo_img1{
	width: 289px; 
    height: 289px;

}

.second_revoslide .slide-description2 img{
    width: 221px; height: 221px; margin: 0 20px 0 0;
}
.revolution_slider .third_revoslide .revo_img1 img{
   float: left;
   margin-top:95px;
}