/********* normal css start ********/
.msg_show_red {
    color: red;
}

.rs_heading {
    border-bottom: 2px solid #ebf0f6;
}
.rs_heading h3{
    color: #435061;
}
.rs_heading p{
    color: #637285;
}
.rs_heading:before {
    background-color: #0363a7;
}
.rs_heading label {
    color: #0363a7;
}
h3.agent_wrapper_h{
    color: #435061;
}
p.agent_wrapper_p{
    color: #637285;
}
/********* normal css end ********/

/********* top header start ********/
.top_header_wrapper{
    background-color: #0363a7;
}
.top_header_wrapper:after {
    background-color: #edd132;
}
.address_wrapper {
    color: #ffffff;
}
.contact_wrapper {
    color: #ffffff;
}
.contact_wrapper ul li a {
    color: #ffffff;
}
/********* top header end ********/
/********* menu start ********/
.menu_wrapper {
    background-color: #ffffff;
}
.menu_wrapper .navbar_header img {
    display: inline-block;
}
.logo:after {
    background-color: #ffffff;
}
.menu_wrapper .nav> li> a:hover, .menu_wrapper .nav> li> a:focus, .menu_wrapper .nav> li> a.active {
    color: #0363a7;
    background-color: transparent;
}
.menu_wrapper .nav> li> a {
    color: #424343;
}
.menu_wrapper ul li ul {
    background-color: #ffffff;
}
.menu_wrapper ul li ul> li> a {
    color: #434343;
    text-transform: capitalize;
    box-shadow: inset 0px 0px 0px #0363a7;
    -webkit-box-shadow: inset 0px 0px 0px #0363a7;
    -moz-box-shadow: inset 0px 0px 0px #0363a7;
    -ms-box-shadow: inset 0px 0px 0px #0363a7;
    -o-box-shadow: inset 0px 0px 0px #0363a7;
}
.menu_wrapper ul li ul> li> a:hover, .menu_wrapper ul li ul> li> a:focus, .menu_wrapper ul li ul> li> a:active, .menu_wrapper ul li ul> li> a.active {
    color: #ffffff;
    box-shadow: inset 1px 50px 1px #0363a7;
    -webkit-box-shadow: inset 1px 50px 1px #0363a7;
    -moz-box-shadow: inset 1px 50px 1px #0363a7;
    -ms-box-shadow: inset 1px 50px 1px #0363a7;
    -o-box-shadow: inset 1px 50px 1px #0363a7;
}
.real_menu > ul::-webkit-scrollbar-track-piece {
    background-color: #161414; 
    border: 1px solid #161414; 
}
.real_menu > ul::-webkit-scrollbar-thumb {
    background-color: #0363a7;
}

/********* menu end ********/
/********* banner start ********/
/*--- Banner with Custom Slide --- */
.slide-description {
    background-color: rgba(255,255,255,.9);
    background-color: #ffffff;
}
.slide-description span{
    color: #243040;
}
.slide-description .know-more {
    background-color: #37b3d9;
    color: #ffffff;
}
.slide_desc a{
    color: #0363a7;
}
h2.soi_title{
    color: #000;
}
p.soi_description{
    color: #000;
}
.search_property{
    background-color: #ffffff;
}
/*--- End Banner with Custom Slide --- */

/* --- [2] Banner with Form find --- */
.banner_2 .tab-content > .active {
    background-color: #222c38;
}
.search_wrapper .search_title h3 {
    color: #ffffff;
}
.add_slider_content {
    background-color: #435061;
}
.add_slider_content h2 {
    color: #ffffff;
}
.add_slider_content span {
    color: #ffffff;
}
.add_slider_content span small {
    color: #ffffff;
}
.add_slider_content .add_slider_content_nw {
    color: #d3d3d3;
}
.search_tab_wrapper .search_form input {
    background-color: #ffffff;
}
.search_tab_wrapper .search_form .search_btn {
    color: #ffffff;
    background-color: #0363a7;
}
.search_tab_wrapper ul li a {
    color: #ffffff;
    background-color: transparent;
}
.search_tab_wrapper {
    background-color: #ACADAF;
}
.search_tab_wrapper .nav-tabs > li.active > a, .search_tab_wrapper .nav-tabs > li.active > a:hover, .search_tab_wrapper .nav-tabs > li.active > a:focus {
    background-color: transparent;
    color: #ffffff;
}
.search_tab_wrapper ul li a:hover, .search_tab_wrapper ul li a:focus {
    background-color: transparent;outline: none;
}
.search_wrapper .search_title {
    background-color: #0363a7;
}
.search_tab_wrapper ul li a:after {
    background: #ffffff;
}
.search_tab_wrapper ul {
    background-color: #1a202c;
}
/* --- End Banner with Form Form --- */

/* --- [3] End Banner with Search find --- */
.search_property1 {
    background-color: #ffffff;
}
.search_property .form-control {
    background-color: transparent;
}
.searchproperty_btn {
    color: #ffffff;
    background-color: #0363a7;
    border-color: #46b8da;
}
input#email, input#pwd {
    background-color: #ffffff;
}
input#loc{
    background-color: #ffffff;
}
/* --- End Banner with Search Form --- */

/* --- [5] Banner with Revolutional Slider --- */
.first_revoslide .slide-description1 {
    color: #ffffff;
}
.revolution_slider .first_revoslide .slide-description1 a{
    color: #ffffff;
}

.revolution_slider .second_revoslide .slide-description2 {
    color: #ffffff;
}

.third_revoslide .slide-description3 a{
    color: #ffffff;
}
.revolution_slider .slide-description3 {
    color: #000;
}
.revolution_slider h2.soi_title1 {
    color: #ffffff;
}
.revolution_slider p.soi_description1{
    color: #000; 
}
/* --- End Banner with Revolutional Slide --- */

/* --- [6] Banner with Google map --- */
#listing-map .infoBox > img {
      background: #ffffff;
  background: rgba(255, 255, 255, 0.6);
}

#listing-map .infoBox > img:hover {
  background: white;
  background: rgba(255, 255, 255, 0.9);
}

#listing-map .map-info-window {
  background: #ffffff;
  border-bottom: 3px #4dc7ec solid;
}

#listing-map .arrow-down {
  border-style: solid;
  border-color: #4dc7ec transparent transparent transparent;
}

#listing-map .prop-title a {
  color: #394041;
}
#listing-map .prop-title a:hover {
  color: #df5400;
}

#listing-map span.price {
  color: #df5400;
}
/* --- End Banner with Google map --- */
/* -- [7] Banner with Video -- */
#polina {
    background: rgba(0,0,0,0.3);
    color: white;
}
.overlay-desc {
    background: rgba(0,0,0,0);
}
#polina button { 
  background: orange;
  color: #ffffff;
}
/* -- End Banner with Video -- */

/********* banner end ********/
/********* addvertisement start ********/
.rs_btn {
    color: #ffffff;
    background: #0363a7;
}

.rs_btn:hover, .rs_btn:focus {
    color: #ffffff !important;
}
.rs_btn> span{
    background: transparent;
    color: #ffffff !important;
}
.btn.rs_btn:before {
    background: #edd132;
    color: #ffffff;
}

.add_slider .owl-prev, .add_slider .owl-next {
    
    background-color: #3a4656;
}
.add_slider .owl-nav i:before {
    color: #ffffff;
}

/********* addvertisement end ********/

/********* top rated start ********/

.img_overlay {
     background-color: #eef1f5;
}
.rated_property_wrapper h5 {
    color: #435061;
}

/********* top rated end ********/

/********* featured propety start ********/
select.orderby {
    background: #dfe5ed;
    border: 1px solid #d2d1d1;
    color: #637285;
}
select.orderby:hover, select.orderby:focus {
    border-color: #d2d1d1;
}
.property_wrapper {
    background-color: #ffffff;
}
.property_img_wrapper .tag_sale_1 {
    color: #545f6e;
    background-color: #ffffff;
}
.property_detail {
    border: 1px solid #eeeeee;
}
.property_detail:hover, .list_view .property_detail:hover {
    border-color: #0363a7;
}
.property_detail:hover, .grid_view1 .property_detail:hover {
    border-color: #0363a7;
}
.property_detail h5 a {
    color : #435061 ;
}
.property_detail h5:after {
    background-color: #bababa;
}
.property_detail:hover h5:after {
    background-color: #0363a7;
}
.property_detail ul {
    border-top: 2px solid #eeeeee;
}
.property_detail ul li {
    color: #858585;
}
.tag_sale {
   color: #fff;
    background-color: #edd132;
}
.tag_price {
    color: #ffffff;
    background-color: #0363a7;
}
.pagination_wrapper .pagination li {
    background-color: #b1b1b1;
    color: #ffffff;
}
.pagination_wrapper .pagination {
    display: block;
    float: left;
    width: 100%;
}
.pagination_wrapper .pagination li a {
    background-color: #939eae;
    color: #ffffff;
}
.pagination_wrapper .pagination li:first-child span {
    background-color: #8c8c8c;
}
.pagination_wrapper .pagination li:last-child span {
    background-color: #8c8c8c;
}
.pagination_wrapper .pagination li a:hover span, .pagination_wrapper .pagination li a:focus span, .pagination_wrapper .pagination li.active span {
    background-color: #0363a7;
}
.pagination_wrapper .pagination li a:hover, .pagination_wrapper .pagination li a:focus, .pagination_wrapper .pagination li.active a {
    background-color: #243040;
    color: #ffffff;
}
.pagination_wrapper .pagination li a:hover:after, .pagination_wrapper .pagination li a:focus:after, .pagination_wrapper .pagination li.active a:after {
    background-color: #0363a7;
}
.pagger_wrapper .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
    color: #ffffff;
    background-color: #0363a7;
    border-color: #0363a7;
}
/********* featured propety end ********/

/********* dark section start ********/
.dark_wrapper .banner_overlay {
    background-color: rgba(34,33,39,0.70);
}
.dark_content_wrapper {
    background-color: #222127;
}
.dark_wrapper h3{
    color: #bababa;
}
.dark_wrapper h3:after {
    background-color: #38373d;
}
.dark_wrapper p {
    color: #6f6d77;
}
.dark_content h5 {
    color: #bababa;
}
.dark_content h5:after {
    background-color: #38373d;
}
.icon_wrapper {
    background-color: #0363a7;
}
.icon_wrapper strong {
    color: #ffffff;
}
.icon_wrapper small {
    color: #ffffff;
}

.testimonial_content i:before {
    color: #7c7c7c;
}
.testimonial_content p {
    color: #bdbcbc;
}
.testimonial_content span {
    color: #e5e5e5;
}
/********* dark section end ********/
/********* agent section start ********/
.agent_content {
    border: 1px solid #ebebeb;
    -webkit-transition: opacity 0.35s, border-color 0.35s;
    -moz-transition: opacity 0.35s, border-color 0.35s;
    -ms-transition: opacity 0.35s, border-color 0.35s;
    -o-transition: opacity 0.35s, border-color 0.35s;
    transition: opacity 0.35s, border-color 0.35s;
}
.agent_overlay:hover .agent_content {
    border-color: #0363a7;
}
.agent_overlay {
    background-color: #0363a7;
    -webkit-transition: opacity 0.35s, top 0.35s;
    -moz-transition: opacity 0.35s, top 0.35s;
    -ms-transition: opacity 0.35s, top 0.35s;
    -o-transition: opacity 0.35s, top 0.35s;
    transition: opacity 0.35s, top 0.35s;
}
.agent_content:hover {
    border-color: #ebf0f6;
}
.agent_content:hover .agent_overlay {
    background-color: #ebf0f6;
}
.agent_content:hover .agent_overlay h5 a {
    color: #000;
}
.agent_overlay h5 a {
    color: #ffffff;
}
.agent_content:hover .agent_overlay p {
    color: #000;
}
.agent_overlay p {
    color: #ffffff;
}

.agent_overlay ul li a {
    background-color: #0363a7;

}
.agent_overlay ul li i:before {
    color: #fff;
}
/********* agent section end ********/

/********* blog section start ********/
.blog_content {
    border: 1px solid #ebebeb;
    -webkit-transition: opacity 0.35s, top 0.35s;
    -moz-transition: opacity 0.35s, top 0.35s;
    -ms-transition: opacity 0.35s, top 0.35s;
    -o-transition: opacity 0.35s, top 0.35s;
    transition: opacity 0.35s, top 0.35s;
}
.blog_overlay {
    background-color: #ffffff;
    -webkit-transition: opacity 0.35s, top 0.35s;
    -moz-transition: opacity 0.35s, top 0.35s;
    -ms-transition: opacity 0.35s, top 0.35s;
    -o-transition: opacity 0.35s, top 0.35s;
    transition: opacity 0.35s, top 0.35s;
}

.blog_content:after {
    background-color: #edecec;
    -webkit-transition: opacity 0.35s, top 0.35s;
    -moz-transition: opacity 0.35s, top 0.35s;
    -ms-transition: opacity 0.35s, top 0.35s;
    -o-transition: opacity 0.35s, top 0.35s;
    transition: opacity 0.35s, top 0.35s;
}
.blog_overlay h5 {
    color: #2a2d3c;
}
.blog_overlay h5 a, .blog_overlay h5 a:hover, .blog_overlay h5 a:focus {
    color: #2a2d3c;
}
.blog_overlay .post-meta {
    color: #9a9a9a;
}
.blog_overlay .post-meta b {
    color: #2a2d3c;
}
/********* blg section end ********/

/********* news letter section start ********/
.suscribe_wrapper .banner_overlay {
    background-color: #edd132;
}

.suscribe_content_wrapper h4 {
    color: #ffffff;
}
.suscribe_content_wrapper p {
    color: #ffffff;
}

.news_search_wrapper .search_btn {
    color: #ffffff;
    background-color: #0363a7;
}
.news_search_wrapper .search_btn:hover, .news_search_wrapper .search_btn:focus, .news_search_wrapper .search_btn.active {
    color: #ffffff;
}
.suscribe_wrapper .social_wrapper ul li a {
    background-color: #0363a7;
}
.suscribe_wrapper .social_wrapper ul li a i:before {
    color: #ffffff;
}
.suscribe_wrapper .social_wrapper ul li a:after {
    background-color: #243040;
    border: 1px solid #243040;
}
/********* news latter section end ********/

/********* footer section start ********/
.footer_wrapper {
    background-color: #1c1b20;
}
.widget-title {
    color: #ffffff;
}
.widget p {
    color : #7a8083;
}
.widget> ul{
    color : #7a8083;
}
.widget ul li {
    color : #7a8083;
}
.widget ul li a {
    color : #0363a7 ;
}
.tagcloud a {
    color: #7a8083;
}
.widget_twitter_feed ul li span {
    color : #555b5e ;
}
.widget_twitter_feed ul li i:before {
    color: #ffffff;
}
.tagcloud a:hover {
    background-color: #0363a7;
    color: #ffffff;
}
/********* footer section end ********/

/********* bottom footer section start ********/
.bottom_footer_wrapper {
    background-color: #19181c;
}
.bottom_footer_wrapper ul li {
    color : #949494;
}
.bottom_footer_wrapper ul li a {
    color : #949494 ;
}
.bottom_footer_wrapper ul li a b {
    color : #d2d2d2 ;
}
.bottom_footer_wrapper ul li a:after {
    color : #949494 ;
}
/********* bottom footer section end ********/

/********* home_v2 start ********/
.map_info_wrapper {
    background-color: #ffffff;
}
.map_detail {
    border: 1px solid #eeeeee;
}
.map_content h5:after {
     background-color: #bababa;
}
.map_content h5 a {
    color: #2a2d3c;
}
.map_detail ul {
    border-top: 2px solid #eeeeee;
}
.map_detail ul li {
    color: #858585;
}
.tag_close {
    background-color: #ffffff;
}
.tag_close .close_btn {
    color: #2f2f2f;
    background-color: transparent;
}
/********* home_v2 end ********/

/********* grid_view page start ********/
.page_wrapper .banner_overlay {
    background-color: rgba(47, 47, 47, 0.7);
}
.page_title h3 {
    color: #ffffff;
}
.breacrumb_wrapper {
    background-color: #161414;
}
.breadcrumb > li a, .breadcrumb > li a:hover {
    color: #cbcbcb;
}
.grid_view_wrapper .property_detail:hover h5 a {
    color: #0363a7;
}
.rs_heading_wrapper ul li a {
    border: 1px solid #adadad;
    color:  #adadad;
    -webkit-transition: color .35s, border-color 0.35s;
    -moz-transition: color .35s, border-color 0.35s;
    -ms-transition: color .35s, border-color 0.35s;
    -o-transition: color .35s, border-color 0.35s;
    transition: color .35s, border-color 0.35s;
}
.rs_heading_wrapper ul li a:hover, .rs_heading_wrapper ul li a.active {
    border-color: #0363a7;
    color: #0363a7;
}
.property_view_wrapper h3.property_view_h{
    color: #435061;
}
.property_view_wrapper p.property_view_p{
    color: #637285;
}
/********* grid_view sidebar start ********/
.sidebar_wrapper .widget-title {
    color: #2a2d3c;
}
.sidebar_wrapper .advance_search_wrapper {
    background-color: #F5F5F5;
}
.sidebar_wrapper .advance_search_wrapper:after {
    background-color: #0363a7;
}
.sidebar_wrapper .advance_search_wrapper .widget-title h4 {
  color: #ffffff;
}
.sidebar_wrapper .advance_search_wrapper label {
    color: #435061;
}
.sidebar_wrapper .advance_search_wrapper .form-control {
    background-color: #ffffff;
    color: #b4b4b4;
}
.price_slider span {
    color: #dbdbdb;
}
.pagger_wrapper .pagination > li > a,
.pagger_wrapper .pagination > li > span {
   color: #a9a9a9;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.recent_properties ul li .property_img .banner_overlay {
    background-color: rgba(94,94,94,0.50);
}
.recent_property_detail h6 {
    color: #2a2d3c;
}
.recent_properties ul li .recent_property_detail p {
    color: #6d6d6d;
}
.recent_property_detail span {
    color: #6d6d6d;
}
.recent_property_detail {
    border: 1px solid #eeeeee;
}
.recent_property_detail:hover {
    border-color: #0363a7;
}
.recent_property_detail:hover h6, .recent_property_detail:hover span {
    color: #0363a7;
}
/* category */
.widget_category {
    background-color: #F5F5F5;
}
.widget_category .widget-title {
    color: #ffffff;
}
.widget_category:after {
     background-color: #0363a7;
}
.widget.widget_category ul li a {
    color: #212020;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    -moz-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, -webkit-transform 0.3s;
}
.widget.widget_category ul li a:before {
    color: #0363a7;
}
.widget.widget_category ul li a:hover {
    color: #0363a7;
}
.widget.widget_category ul li i:before {
    color: #212020;
}
.widget.widget_category ul li i {
    -webkit-transition: color 0.3s,-webkit-transform 0.3s;
    -moz-transition: color 0.3s,-webkit-transform 0.3s;
    transition: color 0.3s,-webkit-transform 0.3s;
}
.widget.widget_search .search_form .form-control {
    background-color: #ededef;
    color: #9a9a9a;
}
.widget.widget_search .search_form .search_btn {
    color: #ffffff;
    background-color: #0363a7;
}

/* category */
/********* grid_view sidebar end ********/
/********* grid_view page end ********/

/********* list_view page start ********/
.property_content span {
    color: #0363a7;
}
.property_detail p {
    color: #637285;
}
.list_view .property_detail {
    border-top: 1px solid #eeeeee;
}
/********* list_view page end ********/

/********* agent_list_view page end ********/
.addvertise_wrapper {
    background-color: #28272f;
}
.addvertise_wrapper:after {
    background-color: #38373d;
}
.addvertise_wrapper h4 {
    color: #ffffff;
}
.addvertise_wrapper p {
    color: #ffffff;
}
.addvertise_wrapper span {
    color: #0363a7;
}
/********* agent_list_view page end ********/

/********* agent_single page start ********/

.agent_profile h6 {
    color: #ffffff;
}
.agent_profile .agent_detail p {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.agent_profile .agent_overlay:after {
    background-color: #0363a7;
}
.agent_profile_detail h6 {
    color: #2a2d3c;
}
.agent_profile_detail h6:after {
    background-color: #b4b4b4;
}
.agent_property_wrapper .property_detail:hover h5 a, .agent_property_wrapper .property_detail:focus h5 a, .simillar_project_wrapper .property_detail:hover h5 a, .simillar_project_wrapper .property_detail:focus h5 a {
    color: #0363a7;
}
/********* agent_single page end ********/

/********* property_detail_v1 page start ********/
.rs_heading h2 {
    color: #0363a7;
}
.rs_heading h2 span {
    color: #858585;
}
.rs_heading ul.facility li {
    color: #858585;
}
.property_image:after {
    background-color: #ffffff;
}
.property_post_detail {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}
.authore_detail span {
    color: #101720;
}

.ameneties_wrapper ul.ameneties li {
    color: #9a9a9a;
}
.property_post_detail h5 {
    color: #2a2d3c; 
}
.property_post_detail h5:after {
    background-color: #b4b4b4 ;
}
.document_warpper ul li {
    color: #9a9a9a;
}
.document_warpper ul li i:before {
    color: #9a9a9a;
}
.share_warpper ul li a {    
    background-color: #b4b4b4;
}
.share_warpper ul li a:after {
    background-color: #00a8ff;
}
.share_warpper ul li a i:before {
    color: #ffffff;
}
.property_detail_version2 .banner_overlay {
    background-color: rgba(28,27,32,0.40);
}
/********* property_detail_v1 page end ********/

/********* property_detail_v2 page start ********/
.property_detail_version2 .property_image .owl-nav .owl-prev, .property_detail_version2 .property_image .owl-nav .owl-next {
    color: #ffffff;
    background: #243040;
}
.property_detail_version2 .property_image .owl-nav .owl-prev:before, .property_detail_version2 .property_image .owl-nav .owl-next:before {
    background: #0363a7;
    color: #ffffff;
}
/********* property_detail_v2 page end ********/

/********* blog_page_v1 page start ********/
.blog_post_wrapper {
    border-bottom: 2px solid #0363a7;
}
.blog_post_wrapper:after {
    background-color: #0363a7;
}
.blog_img_wrapper .banner_overlay {
    background-color: rgba(28,27,32,0.40);
}
.date_wrapper span {
    color: #ffffff;
    background-color: #243040;
}
.date_wrapper .post_icon {
    background-color: #0363a7;
}
.post_content h3 {
    color: #212020;
}
.post_content h3 a, .post_content h3 a:hover, .post_content h3 a:focus {
    color: #212020;
}
.post_content .post-meta:before {
    background-color: #b4b4b4;
}
.post_content .post-meta span {
    color: #858585;
}
.post_content .post-meta a {
    color: #0363a7;
}
.post_content .post-meta span:after {
    border-left: 2px solid #b4b4b4;
}
/********* blog_page_v1 page end ********/

/********* blog_page_v2 page end ********/

/********* blog_page_v2 page end ********/

/********* blog_single page start ********/
.share_icons ul {
    background-color: #ededed;
}
.share_icons ul li a {
    color: #9a9a9a;
}
.share_icons ul li a:hover, .share_icons ul li a:focus {
    color: #3da0ff;
}
/** Comment Section **/
.post_comment_wrapper .comments-title {
    color: #858585;
}
.post_comment_wrapper .comments-title i:before {
    color: #cdcdcd;
}
.comment_wrapper {
    border-bottom: 2px solid #ebebeb;
}
.comment_wrapper:after {
    background-color: #ffffff;
}
.avtar_img:after {
    background-color: #0363a7;
}
.comment-reply-link, .comment-reply-link:hover, .comment-reply-link:focus {
    color: #0363a7;
}
.comment_wrapper h6 {
    color: #595959;
}
.comment_wrapper span {
    color: #c9c9c9;
}
.comment-reply-title h3 {
    color: #212020;
}
/** Comment Section **/
/********* blog_single page end ********/

/********* contact page start ********/
.contactus_form_wraper .form-control {
    border: 1px solid #d8d8d8;
}
.contact_detail_wrapper {
    background-color: #1c1b20;
}
.contact_detail_wrapper h6 {
    color: #919096;
}
.contact_detail_wrapper ul li {
    color: #919096;
    border-bottom: 1px solid #27262c;
}
.contact_detail_wrapper ul li a {
    color: #919096;
}
.contact_detail_wrapper ul li i:before {
    color: #919096;
}
/********* contact page end ********/

/********* error page end ********/
.error_wrapper h1 {
    color: #0363a7;
}
.error_wrapper h2 {
    color: #212020;
}
.error_wrapper h3 {
    color: #212020;
}
.error_wrapper h5 {
    color: #b8b8b8;
}
.error_wrapper span {
    color: #212020;
}
.error_wrapper h4 {
    color: #212020;
}
.error_wrapper ul li a {
    color: #767676;
}
.error_wrapper ul li a:hover {
    color: #0363a7;
}
.error_wrapper ul li a:before {
    color: #0363a7;
}
.error_wrapper ul li a i:before {
    color: #767676;
}
.error_search_wrapper .rs_btn {
    background-color: #0363a7;
}
.error_search_wrapper .rs_btn:before {
    background: #0363a7;
    color: #ffffff;
}
/********* error page end ********/

/********* faq page start ********/
.panel-default > .panel-heading .panel-title > a.collapsed:after {
    background-color: #000;
}
.panel-default > .panel-heading .panel-title > a:before {
    color: #ffffff;
    background-color: #0363a7;
}
.faq_content_wrapper .panel-title > a, .panel-title > small, .faq_content_wrapper  .panel-title > .small, .faq_content_wrapper  .panel-title > small > a, .faq_content_wrapper  .panel-title > .small > a {
    color: #ffffff;
    background-color: #0363a7;
    border-color: #0363a7;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
}
.faq_content_wrapper .panel-title > a.collapsed {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #363636;
}
.faq_content_wrapper .panel-title > a:hover, .faq_content_wrapper .panel-title > a:focus, .faq_content_wrapper .panel-title > a:active {
    background-color: #0363a7;
    border-color: #0363a7;
    color: #ffffff;
}
.faq_content_wrapper .panel-title > a:hover:after, .faq_content_wrapper .panel-title > a:focus:after, .faq_content_wrapper .panel-title > a.active:after, .faq_content_wrapper .panel-title > a.collapsed:hover:after, .faq_content_wrapper .panel-title > a.collapsed:focus:after {
    background-color: #0363a7;
    border-color: #0363a7;
    color: #ffffff;
}
/********* faq page end ********/

/********* compare property page start ********/
.compare_property_wrapper .tag_sale {
    color: #545f6e;
    background-color: #ffffff;
}
.compare_heading p {
    color: #a9a9a9;
}
.compare_heading h6 strong {
    color: #243040;
}
.compare_heading a, .compare_heading a:hover {
    color: #0363a7;
}
.compare_property_wrapper table > tbody > tr > td {
    color: #212020;
    background-color: #f0f0f0;
}
.compare_property_wrapper table tr:first-child td:first-child {
    background-color: #efefef;
}
.compare_property_wrapper table tr td:first-child {
    background-color: #dadee2;
    border-color: #cdd1d5;
}
.compare_property_wrapper table tr {
    background-color: #f0f0f0;
}
.compare_property_wrapper table > tbody > tr > td i.cross {
color: #e50016;
}
.compare_property_wrapper table > tbody > tr > td i.check {
color: #0375e5;
}
/********* compare property page end ********/

/********* motrgage calculator page start ********/
.calculator_wrapper label {
    color: #1c1b20;
}
.calculator_wrapper label a {
    color: #828282;
}
.calculator_wrapper .form-control {
    background-color: #ebeced;
    color: #9a9a9a;
}
.calculator_wrapper .reset_btn {
    background-color: #bfbfbf;
}
.calculator_wrapper .reset_btn:before {
    background-color: #1c1b20;
}
.motargage_table_wrapper table {
    background-color: #1c1b20;
}
.motargage_table_wrapper .table > thead > tr > th {
    background-color: #100f13;
    color: #919096;
}
.motargage_table_wrapper .table > tbody > tr > td {
    background-color: #1c1b20;
    color: #919096;
    border-color: #27262c;
}
.motargage_table_wrapper table tbody::-webkit-scrollbar-track-piece, .motargage_table_wrapper .table-responsive::-webkit-scrollbar-track-piece {
    background-color: #3b3a3f;
}
.motargage_table_wrapper table tbody::-webkit-scrollbar-thumb, .motargage_table_wrapper .table-responsive::-webkit-scrollbar-thumb {
    background-color: #48474c ;
}
.motargage_table_wrapper .table-responsive {
    background-color: #1c1b20;
}
.motrgage_detail {
    border: 1px solid #ebeced;
    color: #919096;
}
/********* motrgage calculator page end ********/

/********* about us page start ********/
.about_detail_wrapper h5 {
    color: #2a2d3c;
}
.about_detail_wrapper h5:after {
    background-color: #b4b4b4;
}
.about_detail_wrapper span {
    background-color: #0363a7;
}
.about_detail_wrapper span i:before {
    color: #ffffff;
}
/********* about us page end ********/

.rated_property_wrapper .img_overlay .list-inline > li {
    border: 1px solid #d9dede;
}
.rated_property_wrapper ul {
    border-top: 1px solid #d9dede;
    border-right: 1px solid #d9dede;
}
.rated_property_wrapper ul li{
    color: #858585;
    border: 1px solid #d9dede;
    border-top: none;
}
.rated_property_wrapper ul .no_border{
    color: #858585;
    border-right: 1px solid transparent;
    border-left:1px solid transparent;
}
.featured_property_wraper .rs_heading h3{
    color: #435061;
}
.featured_property_wraper .rs_heading p{
    color: #637285;
}

.dark_content_wrapper .carousel-indicators .active {
    border: 1px solid #0363a7;
    background-color: #0363a7;
}

.slider-horizontal .slider-handle {
    background-color: #ffffff;
    border: 4px solid #0363a7;
}
.slider-horizontal .slider-selection {
    border-radius: 0px;
    background-color: #0363a7;
}
.faq_wrapper .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #bfbfbf;
    background-color: rgba(205, 242, 218, 0.37);
    color: #3a3940;
}

/* Banner Slider Text */

/* Simple_banner */


/*Revolutional Slider */

/* Map Based Template
--------------------------------------------------------*/

/* */
.banner_2 .tab-content > .active {
    background-color: #222c38;
}

/* Video Banner */

/* 
.option-bar.large {
    float: left;
    margin-left: 22px;
}
.advancesearch_box{
    background-color: #ffffff;
}
.advancesearch_box .option-bar input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: 34px;
}
.advance-search .option-bar {
    float: left;
    margin-right: 15px;
}
.search_overimage .option-bar.large {
    float: left;
    margin-left: 20px;
}
.search_overimage .as-form-wrap {
    background-color: #ffffff;
}
.search_overimage .select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
*/
label {
   
    margin-bottom: 5px;
}
.Advance_search {
    background-color: #f6f6f6;
}
.search_overimage .soi_title {
    background-color: #0363a7;
}
.search_overimage .soi_title h2 {
    color: #ffffff;
}
.advanced-expander {
    background-color: #000;
    color:#fff;
}
.Advance_search .panel-heading-box .accordion-toggle.collapsed:after {
    border: 1px solid;
}
.Advance_search .panel-heading-box:hover .accordion-toggle.collapsed:after {
    border: 1px solid;
   color: #0363a7;
}
.Advance_search .panel-heading-box:hover .accordion-toggle:after {
    color: #0363a7;
    border: 1px solid;
}
.Advance_search .panel-heading-box .accordion-toggle:after {
    color: grey;
    border: 1px solid;
}
.Advance_search .panel-title {
    color: inherit;
}
.Advance_search .panel-title a:hover {
    color: #0363a7;
}
.calculator_wrapper .transparent_txt{
    color:transparent;
}
