.banner_wrapper {
	float: left;
	width: 100%;
	position: relative;
	z-index: -2;
	background-size: cover;
    background-position: center center;
    min-height: 422px;
}
.banner_wrapper .banner_overlay {
        background-color: rgba(0, 0, 0, 0.1);
}
.banner_overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.banner_wrapper img {
    width: 100%;
}
.simple_banner{
    background-image: url(../images/banner_4.jpg);
}