@font-face { font-family: "Montserrat-Regular"; src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }
@font-face { font-family: "Montserrat-Bold"; src: url("../fonts/Montserrat-Regular.ttf") format("truetype");}
@font-face { font-family: "Karla-Regular"; src: url("../fonts/Karla-Regular.ttf") format("truetype");}
@font-face { font-family: "RobotoSlab-Regular"; src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");}
@font-face { font-family: "RobotoSlab-Bold"; src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");}
@font-face { font-family: "RobotoSlab-Light"; src: url("../fonts/RobotoSlab-Light.ttf") format("truetype");}
body{
    font-size: 13px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
}
p , span {
    font-family: 'Poppins', sans-serif;
}
a, a:hover {
    text-decoration: none;
}
button, button:hover, button:focus {
    box-shadow: none;
    text-shadow: none;
}
#demo1 .maxemail{
    background-color: #fff;
}
#demo1 .minemail {
    background-color: #fff;
}
/********* normal css start ********/
.padding {
    padding: 0 !important;
}
.padding_left {
    padding-left: 0 !important;
}
.padding_right {
    padding-right: 0 !important;
}
.padding_left50 {
    padding-left: 50px !important;
}
.padding_right50 {
    padding-right: 50px;
}
.rs_heading_wrapper {
    overflow: hidden;
    float: left;
    width: 100%;
}
.rs_heading {
    float: left;
    width: 100%;
    padding: 50px 0 0px;
    position:relative;
    margin-bottom: 50px;
}
.rs_heading h3{
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.rs_heading p{
    font-size: 16px;
    padding: 10px 0 30px;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.rs_heading:after {
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: -1%;
    
    -webkit-transform: skewx(29deg);
    -moz-transform: skewx(29deg);
    -o-transform: skewx(29deg);
    transform: skewx(29deg);
    z-index: 1;
}
.rs_heading:before {
    content: "";
    
    height: 2px;
    position: absolute;
    top: 100%;
    left: -1%;
    -webkit-transform: skewx(29deg);
    -moz-transform: skewx(29deg);
    -o-transform: skewx(29deg);
    transform: skewx(29deg);
    z-index: 1;
}
.filter_wrapper {
    float: right;
    text-align: left;
}
.rs_heading label {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 15px;
    line-height: 38px;
    margin: 15px 0;
    font-family: 'Poppins', sans-serif;
}
h3.agent_wrapper_h{
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
    margin: 0;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}
p.agent_wrapper_p{
    font-size: 16px;
    padding: 10px 0 30px;
    margin: 0;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
/********* normal css end ********/

/********* top header start ********/
.top_header_wrapper{
    float: left;
    width: 100%;
    padding: 7px 0;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}
.top_header_wrapper:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -65%;
    z-index: -1;
    -webkit-transform: skewx(-25deg);
    -moz-transform: skewx(-25deg);
    -ms-transform: skewx(-25deg);
    -o-transform: skewx(-25deg);
    transform: skewx(-25deg);
}
.address_wrapper {
    float: left;
    width: 50%;
}
.address_wrapper i{
    margin-right: 10px;
}
.contact_wrapper {
    float: left;
    width: 50%;
}
.contact_wrapper ul {
    padding: 0;
    margin: 0;
    float: right;
}
.contact_wrapper ul li {
    list-style: none;
    float: left;
    display: inline-block;
    margin-left: 10px;
}
.contact_wrapper ul li span {
    font-family: 'Poppins', sans-serif;
}
.contact_wrapper i {
    margin-right: 10px;
}
.address_wrapper i:before, .address_wrapper i:after, .contact_wrapper i:before, .contact_wrapper i:after {
    font-size: 13px;
}
.contact_wrapper ul li a:hover, a:focus {
    text-decoration: none;
}
/********* top header end ********/
/********* menu start ********/
.menu_wrapper {
    float: left;
    width: 100%;
    min-height: 50px;
}
.menu_wrapper .navbar_header img {
    display: inline-block;
width: 180px;
    margin-top: -22px;
}
.navbar_header {
    float: left;
width: 20%;
position: relative;
}
/*.logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 21%;
}*/
.logo .navbar_brand {
    display: block;
    padding: 23px 0 0 0;
}
.logo:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 0%;
    height: 110%;
    -webkit-transform: skewy(-6deg);
    -ms-transform: skewy(-6deg);
    -moz-transform: skewy(-6deg);
    -o-transform: skewy(-6deg);
    transform: skewy(-6deg);
    z-index: -1;
}
.menu_wrapper .nav> li> a:hover, .menu_wrapper .nav> li> a:focus, .menu_wrapper .nav> li> a.active {
    text-decoration: none;
    border: none;
    outline: none;
}
.menu_wrapper .nav li {
    list-style: none;
    position: relative;
}
.menu_wrapper .nav> li> a {
    /*padding: 35px 20px 10px;*/
    padding: 35px 30px 10px;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    top: -7px;
}
.menu_wrapper ul {
    padding: 0;
    margin: 0 -20px 0 0;
z-index:999;
}
.menu_wrapper ul li {
    list-style: none;
}
.menu_wrapper .nav li i:before {
    position: absolute;
    font-size: 8px;
    top: 37%;
    right: 0;
    font-weight: bold;
}
.menu_wrapper ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 185px;
    padding: 0;
    opacity:0; 
    visibility: hidden;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}
.menu_wrapper .nav li:hover ul.sub-menu {
    visibility: visible;
    opacity: 1; 
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.menu_wrapper li ul.sub-menu li ul {
    left: 100%;
    top: 10px;
    padding: 0;
    opacity: 0; 
    visibility: hidden;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}
.menu_wrapper li ul.sub-menu li:hover ul {
    visibility: visible;
    opacity: 1; 
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.menu_wrapper ul li ul> li> a {
    border-bottom: 1px solid #0363a7;
    padding: 11px 0 11px 20px;
    display: block;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}
.menu_wrapper ul li ul> li> a:hover, .menu_wrapper ul li ul> li> a:focus, .menu_wrapper ul li ul> li> a:active, .menu_wrapper ul li ul> li> a.active {
    text-decoration: none;
}
.menu_wrapper .nav li ul li i:before {
    margin: 0px;
    right: 10px;
    top: 25%;
}
.real_menu > ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 0 5px; 
}

/********* menu end ********/
/********* banner start ********/



/********* banner end ********/
/********* addvertisement start ********/
.advertise_wrapper {
    background-color: #435061;
    left: 0%;
    position: absolute;
    top: 100%;
    width: 100%;
}
.slider_detail {
    float: left;
    display: inline-block;
    /*padding: 30px 0 20px 47px;*/
}

.btn_wrapper {
    float: left;
    width: 100%;
    overflow: hidden;
    bottom: 0;
}
.rated_property_wrapper .btn_wrapper .btn{
    width: 100%;
    font-size: 12px;
}
.rs_btn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600 !important;
    font-family: 'Poppins', sans-serif;
    padding: 10px 50px 10px 15px;
    position: relative;
    border-radius: 0px !important;
    outline: none;
    box-shadow: none;
    z-index: 1;
    text-align: left;
    border: 0px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.rs_btn:after {
    content: "\e017";
    font-family: Flaticon;
    right: 12px;
    position: absolute;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.rs_btn:hover:after, .rs_btn:focus:after {
    -webkit-animation-name: btn_hover;
    -moz-animation-name: btn_hover;
    -ms-animation-name: btn_hover;
    -o-animation-name: btn_hover;
    animation-name: btn_hover;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.rs_btn> span{
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    top: 0;
    line-height: 39px;
    border-radius: 0;
    border: 0;
    z-index: -1;
    display: block;
    text-align: center;
}
.btn.rs_btn:before {
    content: "";
    top: 0;
    line-height: 35px;
    border-radius: 0;
    border: 0;
    z-index: -1;
    position: absolute;
    display: block;
    right: 0;
    width: 40px;
    height: 100%;
}
.rs_btn> span i {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.rs_btn:hover i:before, .rs_btn:focus i, .rs_btn.active  i{
  -webkit-animation-name: btn_hover;
  -moz-animation-name: btn_hover;
  -ms-animation-name: btn_hover;
  -o-animation-name: btn_hover;
  animation-name: btn_hover;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.rs_btn> span i:before {
    font-size: 14px;
    margin: 0;
    display: inline-block;
}
.owl-.add_slider .owl-nav {
    position: absolute;
    top: 0%;
}
.add_slider .owl-prev, .add_slider .owl-next {
    position: absolute;
    left: -30px;
    top: -0px;
    width: 65px;
    height: 100%;
    line-height: 120px;
	padding:0 0 0 20px;
    cursor: pointer;
}
.add_slider .owl-next {
    left: auto;
    right: -30px;
}
.advertise_wrapper .owl-dots .owl-dot span {
    cursor: pointer;
}
/* Icon Wobble Horizontal */
@-webkit-keyframes btn_hover {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes btn_hover {
  16.65% {
    -moz-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -moz-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -moz-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -moz-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes btn_hover {
  16.65% {
    -o-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -o-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -o-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -o-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes btn_hover {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/********* addvertisement end ********/

/********* top rated start ********/
.top_rated_wraper {
    float: left;
    width: 100%;
    padding-bottom: 30px;
}
.rated_property_wrapper {
    overflow: hidden;
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 30px;
}
.rated_property_img {
    float: left;
    width: 100%;
}
.img_wrapper {
/*  position: relative;
    float: left;
    width: 65%; margin-left: -5%;*/
    position: relative;
    float: left;
}
.img_wrapper:after {
/*     content: "";
    -webkit-transform: skew(-13deg);
    -moz-transform: skew(-13deg);
    -o-transform: skew(-13deg);
    -ms-transform: skew(-13deg);
    transform: skew(-13deg);
    position: absolute;
    top: 0;
    right: -10%;
    background-color: #fff;
    width: 100px;
    height: 100%; */
}
.img_wrapper img {
        width: 100%;
}
.img_overlay {
    float: right;
    position: absolute;
    width: 279px;
    right: 12px;
    background-color: #eef1f5;
    height: 246px;
}
.rated_property_wrapper h5 {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0 0 25px;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}
.overlay {
    width: 100%;
    float: left;
    position: relative;
    padding: 23px 16px 20px 16px;
        /* height: 169px; */
}
.overlay p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #637285;
}
/********* top rated end ********/

/********* featured propety start ********/
.featured_property_wraper {
    float: left;
    width: 100%;
    padding-bottom: 0;
}
.filter_wrapper select.orderby {
    margin: 15px 0;
}
select.orderby {
    display: inline-block;
    max-width: 200px;
    height: 40px;
    border-radius: 0px;
    text-transform: capitalize;
    font-size: 14px;
    float: right;
    font-family: 'Poppins', sans-serif;
    box-shadow: none;
    outline: none;
    background-image: url(../images/arrow.png);
    
   
    background-repeat: no-repeat;
    background-position: right;
}
select.orderby:hover, select.orderby:focus {
    box-shadow: none;
    outline: none;
}
.property_wrapper {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
}
.property_img_wrapper {
    float: left;
    width: 100%;
    position : relative;
}
.property_img_wrapper img {
    width: 100%;
}
.property1{
    position: relative;
    overflow: hidden;
}
.property1:hover img{
    transform:scale(1.1);
    transition:3s ease;
}
.property_img_wrapper .tag_sale_1 {
    position: absolute;
    top: 216px;
    right: 173px;
    min-width: 50px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
    /* line-height: 30px; */
    height: 21px;
}
.property_detail {
    float: left;
    width: 100%;
    border-top: 0px;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.property_content {
    min-height: 193px;
    float: left;
    width: 100%;
    padding: 15px 15px 20px;
    max-height: 193px;
}
.property_detail h5 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px 0 17px;
    font-weight: bold;
    margin: 0 0 18px;
    position: relative;
    display: block;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}
.property_detail h5 a {
    text-decoration: none;
}
.property_detail h5:after {
    content: "";
    width: 35px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.property_detail ul {
    padding: 0;
    margin: 0;
    display: block;
    padding: 15px 10px;
    float: left;
    width: 100%;
}
.property_detail ul li {
    /*padding: 0 9px;*/
    padding: 0 8px;
    list-style: none;
    float: left;
    display: inline-block;
    font-size: 12px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.property_detail ul li i:before {
    font-size: 12px;
    padding-right: 6px;
    margin: 0;
}
.tag_sale {
    position: absolute;
    top: 85%;
    right: 50%;
    min-width: 50px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
    /* line-height: 30px; */
    height: 21px;
}
.tag_price {
    position: absolute;
    bottom: 6px;
    border-radius: 4px;
    left: 10px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
    height: 21px;
    padding: 0 5px;
}
.featured_property_wraper .pagination_wrapper {
    display: block;
    float: left;
    width: 100%;
}
.pagination_wrapper .pagination li {
    float: left;
    width: 50%;
    text-align: center;
}
.pagination_wrapper .pagination {
    display: block;
    float: left;
    width: 100%;
}
.pagination_wrapper .pagination li a {
    float: left;
    width: 100%;
    text-align: center;
    padding: 8px 12px 6px;
    border-radius: 0px !important;
    box-shadow: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    overflow: hidden;
    line-height: 26px;
    position: relative;
    border: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pagination_wrapper .pagination li:first-child span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    line-height: 40px;
    text-align: center;
}
.pagination_wrapper .pagination li:last-child span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    line-height: 40px;
    text-align: center;
}
.pagination_wrapper .pagination li span i:before {
    margin: 0px;
}
.pagger_wrapper .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
    z-index: 3;
}
.pagination_wrapper .pagination .back{
    padding: 7px 10px 7px 50px;
}
.pagination_wrapper .pagination .next{
    padding: 7px 40px 7px 0px;
}

/********* featured propety end ********/

/********* dark section start ********/
.dark_wrapper {
    width: 100%;
    float: left;
    position: relative;
    /*background-image: url(http://placehold.it/970x751);*/
    background-size: cover;
    background-position: center center; 
    height: 545px; 
}
.dark_content_wrapper {
    float: left;
    width: 50%;
    padding: 85px 0;
    position: absolute;
    left: 0;
    height: 100%;
}
.dark_wrapper h3{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 0;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
}
.dark_wrapper h3:after {
    content: "";
    width: 35px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
}
.dark_wrapper p {
    font-size: 14px;
}
.dark_content h5 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    margin: 0;
    position: relative;
    margin-bottom: 10px;
    line-height: 21px;
    font-family:'Source Sans Pro', sans-serif;
}
.dark_content h5:after {
    content: "";
    width: 35px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
}
.dark_wrapper ul{
    padding: 0;
    margin: 0;
    padding-top: 50px;
    float: left;
    width: 100%;
}
.dark_wrapper ul li {
    list-style: none;
    float: left;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 50px;
}
.icon_wrapper {
    width: 100px;
    height: 100px;
    float: left;
    display: inline-block;
    margin: 0 0 0 0%;
    text-align: center;
    border-radius: 60px;
    position: relative;
}
.icon_wrapper span {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    margin-left: 0;
}
.icon_wrapper strong {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: block;
    padding: 15px 0 4px 0;
    line-height: 24px;
}
.icon_wrapper small {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
    display: block;
}
.dark_content {
    padding-left: 30%;
}
.testimonial_wrapper {
    width: 50%;
    padding: 85px 0;
    position: absolute;
    right: 0;
    height: 100%;
}
.testimonial_slider {
    float: left;
    width: 100%;
    padding: 0px 0 0px 50px;
    position: relative;
}
.testimonial_content {
    float: left;
    width: 100%;
}
.testimonial_content i:before {
    font-size: 30px;
    margin: 0px;
}
.testimonial_content p {
    font-size: 18px;
    padding: 20px 0;
    font-weight: normal;
    font-style: italic;
    margin: 0;
}
.testimonial_content span {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.testimonial_slider .owl-dots {
    text-align: center;
    padding-top: 38px;
}
.testimonial_slider .owl-dots span {
    cursor: pointer;
}
/********* dark section end ********/
/********* agent section start ********/
.agent_wrapper {
    float: left;
    width: 100%;
    padding: 30px 0 30px;
}
.agent_content {
    float: left;
    margin-bottom:20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: opacity 0.35s, border-color 0.35s;
    -moz-transition: opacity 0.35s, border-color 0.35s;
    -ms-transition: opacity 0.35s, border-color 0.35s;
    -o-transition: opacity 0.35s, border-color 0.35s;
    transition: opacity 0.35s, border-color 0.35s;
}
.agent_img_wrapper {
    float: left;
    width: 100%;
}
.agent_img_wrapper img{
    width: 100%;
}
.agent_overlay {
    position: absolute;
    line-height: 1;
    top: 76%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    -webkit-transition: opacity 0.35s, top 0.35s;
    -moz-transition: opacity 0.35s, top 0.35s;
    -ms-transition: opacity 0.35s, top 0.35s;
    -o-transition: opacity 0.35s, top 0.35s;
    transition: opacity 0.35s, top 0.35s;
}
.agent_content:hover .agent_overlay {
    opacity: 4.5;
    top: 72%;
}
.agent_overlay h5 {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 14px;
    margin: 0;
    padding-top: 21px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}
.agent_content:hover .agent_overlay h5 a {
    text-decoration: none;
}
.agent_overlay h5 a {
    text-decoration: none;
}
.agent_content:hover .agent_overlay p {
    text-decoration: none;
    margin:-5px 0 8px 0;
}
.agent_overlay p {
    font-size: 13px;
    margin-bottom: 50px;
}
.social_wrapper {
    float:left;
    width: 100%;
    padding: -3px 0; 
}
.agent_overlay ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}
.agent_overlay ul li {
    list-style: none;
    float: left;
}
.agent_overlay ul li a {
    width: 25px;
    height: 25px;
    display: block;
    line-height: 25px;
    text-decoration: none;
    border-radius: 100%;
    margin: 4px;
    text-align: center;
}
.agent_overlay ul li i:before {
    margin: 0;
    font-size: 15px;    
}
/********* agent section end ********/

/********* blog section start ********/
.blog_wrapper {
    float: left;
    width: 100%;
    padding-bottom: 80px;
}
.blog_content {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: opacity 0.35s, top 0.35s;
    -moz-transition: opacity 0.35s, top 0.35s;
    -ms-transition: opacity 0.35s, top 0.35s;
    -o-transition: opacity 0.35s, top 0.35s;
    transition: opacity 0.35s, top 0.35s;
}
.blog_wrapper .blog_content .blog_img_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 62%;
}
.blog_content> img {
    width: 100%;
}
.blog_wrapper .blog_content .blog_img_wrapper img{
    height: 100%;
}
.blog_img_wrapper img{
    width: 100%;
}
.blog_overlay {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    -webkit-transition: opacity 0.35s, top 0.35s;
    -moz-transition: opacity 0.35s, top 0.35s;
    -ms-transition: opacity 0.35s, top 0.35s;
    -o-transition: opacity 0.35s, top 0.35s;
    transition: opacity 0.35s, top 0.35s;
    margin: 0 0 0;
    padding: 30px 40px 40px;
    display: block;
}
.blog_inner_overlay {
    float: left;
    width: 100%;
}

.blog_content:after {
    content: "";
    position: absolute;
    top: 55%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    text-align: center;
    z-index: 0;
    -webkit-transition: opacity 0.35s, top 0.35s;
    -moz-transition: opacity 0.35s, top 0.35s;
    -ms-transition: opacity 0.35s, top 0.35s;
    -o-transition: opacity 0.35s, top 0.35s;
    transition: opacity 0.35s, top 0.35s;
}
.blog_overlay h5 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0px 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.blog_overlay h5 a, .blog_overlay h5 a:hover, .blog_overlay h5 a:focus {
    text-decoration: none;
}
.blog_overlay .post-meta {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 24px;
    display: block;
}
.blog_overlay .btn_wrapper {
    margin: 20px 0;
}
.blog_overlay .post-meta b {
    font-family: 'Poppins', sans-serif;
}
.blog_overlay .post-meta span {
    font-family: 'Poppins', sans-serif;
}
.blog_overlay .btn.rs_btn {
    font-size: 12px;
    padding: 11px 65px 10px 20px;
}
.blog_overlay .rs_btn:before {
    /*width: 30%;*/

}
.blog_overlay .btn_wrapper {
    float: left;
    width: 80%;
    overflow: hidden;
}
.blog_overlay .rs_btn:after {
    right: 15px;
}
.blog_overlay .rs_btn> span i:before {
    font-size: 11px;
    font-weight: 300;
}
.blog_overlay .rs_btn> span {
    line-height: 35px;
}
.blog_content_wrapper blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 20px;
    border-left: 3px solid #0363a7;
    color: #767676;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}
/********* blg section end ********/

/********* news letter section start ********/
.suscribe_wrapper {
    float: left;
    width: 100%;
    min-height: 150px;
    position: relative;
    background-image: url(..http_/placehold.it/1914x449.html);
    background-size: cover;
    background-position: center center;
    z-index: 1000;
}

.suscribe_content {
    float: left;
    width: 100%;
    padding: 50px 0 60px;
}
.suscribe_content_wrapper {
    float: left;
    width: 100%;
}
.suscribe_content_wrapper h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 5px;
    font-family: 'Source Sans Pro', sans-serif;
}
.suscribe_content_wrapper p {
    font-size: 15px;

}
.news_detail {
    display: inline-block;
    float: left;
    width: 40%;
}
.news_search_wrapper {
    float: left;
    position: relative;
    width: 50%;
}
.news_search_wrapper .search_input:hover, .news_search_wrapper .search_input:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
}
.news_search_wrapper .search_input {
    position: relative;
    border-radius: 0px;
    border: 0px;
    height: 40px;
    width: 66%;
}
.news_search_wrapper .search_input .search_btn {
    position: absolute;
}
.news_search_wrapper .search_btn {
    position: absolute;
    top: 0;
  
    right: 0;
    height: 40px;
    box-shadow: none;
    text-shadow: none;
    padding: 10px 28px;
    border-radius: 0px;
    z-index: 1;
    font-size: 14px;
    text-transform: capitalize;
    display: block;
    font-weight: bold;
    border: 0px;
}
.suscribe_wrapper .social_wrapper {
    padding: 0;
    float: left;
    width: 100%;
}
.suscribe_wrapper .social_wrapper ul {
    padding: 0;
    margin: 0;
}
.suscribe_wrapper .social_wrapper ul li {
    list-style: none;
    float: left;
    /* overflow: hidden; */
}
.suscribe_wrapper .social_wrapper ul li a {
    text-decoration: none;
    padding: 12px 15px 12px 15px;
    margin-right: 22px;
    position: relative;
    display: block;
    z-index: 1;
    border-radius: 25px;
}
.suscribe_wrapper .social_wrapper ul li a i:before {
    margin: 0;
    font-size: 20px;
    /* -webkit-transform: skewx(-25deg); */
    -moz-transform: skewx(-25deg);
    -o-transform: skewx(-25deg);
    /* transform: skewx(-25deg); */
    display: inline-block;
}
.suscribe_wrapper .social_wrapper ul li:last-child a {
    margin-right: 0;
}
.suscribe_wrapper .social_wrapper ul li a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    z-index: -1;
    visibility: hidden;
    -webkit-animation: zoomOut 0.6s;
    -moz-animation: zoomOut 0.6s;
    -ms-animation: zoomOut 0.6s;
    animation: zoomOut 0.6s;
    -webkit-transition: opacity 0.35s, scale 0.35s;
    -moz-transition: opacity 0.35s, scale 0.35s;
    -ms-transition: opacity 0.35s, scale 0.35s;
    -o-transition: opacity 0.35s, scale 0.35s;
    transition: opacity 0.35s, scale 0.35s;
}
.suscribe_wrapper .social_wrapper ul li a:hover:after {
    visibility: visible;
    -webkit-animation: zoomIn 0.5s;
    -moz-animation: zoomIn 0.5s;
    -ms-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}
/********* news latter section end ********/

/********* footer section start ********/
.footer_wrapper {
    float: left;
    width: 100%;
    padding: 70px 0; position: relative; z-index: -1;
}
.footer_wrapper .col-lg-3.col-md-3 {
    padding-right: 0px;
}
.widget {
    float: left;
    width: 100%;
}
.widget-title {
    font-size: 17px ;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.widget> ul{
    padding : 0;
    margin: 0;
}
.widget ul li {
    list-style:none;
    font-size: 14px;
    float: left;
    width: 100%;
}
.widget_text ul li {
    padding-bottom: 20px;
    line-height: 23px;
}
.widget_text ul li:first-child{
    padding-top: 15px;
}
.widget_text ul li:last-child{
    padding-bottom: 0;
}
.widget_text ul li span {
    font-family: 'Poppins', sans-serif;
}
.widget ul li a {
    text-decoration:none;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.widget.widget_flickr ul li {
    width: 60px;
    height: 60px;
    margin: 0 2px 5px;
}
.widget ul li i:before {
    margin: 0;
}
.widget ul li i {
    display: inline-block;
    float: left;
    margin-right: 34px;
}
.footer_wrapper .widget_twitter_feed ul li {
    margin-bottom: 5px;
}
.footer_wrapper .widget_twitter_feed ul li:last-child {
    margin: 0px;
}
.widget_twitter_feed ul li a {
    font-family: 'Poppins', sans-serif;
}
.widget_twitter_feed ul li i {
    width: 10%;
    margin: 0;
    float: left;
}
.widget.widget_flickr ul li img {
    width: 100%;
}
.tagcloud a {
    float: left;
    text-decoration: none;
    display: block;
    padding: 0px 14px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 4px;
    margin-bottom: 7px;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: opacity 0.35s, scale 0.35s;
    -moz-transition: opacity 0.35s, scale 0.35s;
    -ms-transition: opacity 0.35s, scale 0.35s;
    -o-transition: opacity 0.35s, scale 0.35s;
    transition: opacity 0.35s, scale 0.35s;
}
.widget_twitter_feed ul li p {
    width: 90%;
    float: left;
    padding-left: 10px;
}
.widget_twitter_feed ul li span {
    font-family: 'Poppins', sans-serif;
    display: block;
}
.tagcloud a:hover {
    text-decoration: none;
}
/********* footer section end ********/

/********* bottom footer section start ********/
.bottom_footer_wrapper {
    width: 100%;
    float: left;
    padding: 10px;
    text-align:center;
}
.bottom_footer_wrapper ul{
    padding : 0;
    margin: 0;
    display: inline-block;
}
.bottom_footer_wrapper ul li {
    list-style:none;
    font-size: 14px;
    float: left;
    display: inline-block;
}
.bottom_footer_wrapper ul li a {
    text-decoration:none;
    font-size: 14px;
    padding: 0px 20px;
    position:relative;
    display: block;
}
.bottom_footer_wrapper ul li a b {
    font-weight: 500;
}
.bottom_footer_wrapper ul li a:after {
    content: "|";
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: opacity 0.35s, scale 0.35s;
    -moz-transition: opacity 0.35s, scale 0.35s;
    -ms-transition: opacity 0.35s, scale 0.35s;
    -o-transition: opacity 0.35s, scale 0.35s;
    transition: opacity 0.35s, scale 0.35s;
}
.bottom_footer_wrapper ul li:last-child a:after {
    display: none;
}
/********* bottom footer section end ********/

/********* home_v2 start ********/
.map_wrapper {
    float: left;
    width: 100%;
    position: relative;
    z-index: -2;
}
div#real_map {
    width: 100%;
    height: 600px;
    position: relative;
}
.popup_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 275px;
    overflow-x: hidden;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.gm-style .gm-style-iw div {
    width: 200px;
} 
.gm-style .gm-style-iw {
    width: 275px !important;
    left: 0 !important;
    top: 0 !important;  
}
.map_info_wrapper {
    float: left;
    width: 100%;
}
.map_img_wrapper {
    float: left;
    width: 100%;
    position: relative;
}
.map_detail {
    float: left;
    width: 100%;
    border-top: 0px;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.map_content {
    float: left;
    width: 100%;
    padding: 15px 15px 20px;
}
.map_content h5 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 0 17px;
    font-weight: 800;
    margin: 0 0 18px;
    position: relative;
    display: block;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.map_content h5:after {
    content: "";
    width: 35px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.map_content h5 a {
    text-decoration: none;
}
.map_detail ul {
    padding: 0;
    margin: 0;
    display: block;
    padding: 15px 10px;
    float: left;
    width: 100%;
}
.map_detail ul li {
    padding: 0 9px;
    list-style: none;
    float: left;
    display: inline-block;
    font-size: 12px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.map_detail ul li i:before {
    font-size: 12px;
    padding-right: 6px;
    margin: 0;
}
.tag_close {
    position: absolute;
    top: 0;
    left: -3%;
    transform: skewX(-25deg);
}
.tag_close .close_btn {
    display: inline-block;
    padding: 2px 15px 2px 17px;
    position: relative;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    transform: skewX(25deg);
}
.tag_close .close_btn i:before {
    margin: 0;
    font-size: 15px;
}
.tag_close .close_btn:after {
    content: "";
}
/********* home_v2 end ********/

/********* grid_view page start ********/
.page_wrapper {
    float: left;
    width: 100%;
    position: relative;
    z-index: -2;
    background-image: url(../images/banner_3.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 270px;
}
.page_title {
    float: left;
    width: 100%;
    padding: 100px 0px 0px 0px;
}
.page_title h3 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
}
.breacrumb_wrapper {
    float: left;
    width: 100%;
}
.breadcrumb > li a, .breadcrumb > li a:hover {
    text-decoration: none;
}
.rs_heading_wrapper ul {
    padding: 0;
    margin: 20px 0;
    float: right;
}
.rs_heading_wrapper ul li {
    list-style: none;
    float: left;
}
.rs_heading_wrapper ul li i:before {
    margin: 0;
    font-size: 15px;
}
.rs_heading_wrapper ul li a {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    text-decoration: none;
    -webkit-transition: color .35s, border-color 0.35s;
    -moz-transition: color .35s, border-color 0.35s;
    -ms-transition: color .35s, border-color 0.35s;
    -o-transition: color .35s, border-color 0.35s;
    transition: color .35s, border-color 0.35s;
}
.rs_heading_wrapper ul li:last-child a {
    margin-right: 0;
}
.property_view_wrapper {
    float: left;
    width: 100%;
}
.property_view_wrapper .rs_heading {
    padding: 87px 0 0px;
}
.property_view_wrapper h3.property_view_h{
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
    margin: 0;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}
.property_view_wrapper p.property_view_p{
    font-size: 16px;
    padding: 10px 0 30px;
    margin: 0;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
/********* grid_view sidebar start ********/
.sidebar_wrapper {
    float: left;
    width: 100%;
    padding-top: 101px;
}
.sidebar_wrapper .widget-title {
    font-size: 16px;
}
.sidebar_wrapper .widget-title h4 {
    font-weight: bold;
    margin: 0 0 50px;
}
.sidebar_wrapper .widget {
    margin-bottom: 50px;
}
.sidebar_wrapper .advance_search_wrapper {
    padding: 20px;
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    z-index: 0;
        border: 1px solid #0363a7;
}
.sidebar_wrapper .advance_search_wrapper:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    width: 100%;
    height: 53px;
    z-index: -1;
}
.search_form {
    float: left;
    width: 100%;
}
.sidebar_wrapper .advance_search_wrapper .widget-title h4 {
    font-weight: bold;
    font-size: 16px;
   // padding: 5px 0 11px;
    margin: 0;
    text-align: center;
}
.sidebar_wrapper .advance_search_wrapper label {
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.sidebar_wrapper .advance_search_wrapper .form-control {
    border-radius: 0px;
    height: 32px;
    max-width: 100%;
    margin-bottom: 10px;
}
.sidebar_wrapper .advance_search_wrapper .form-group {
    margin-bottom: 10px;
}
.sidebar_wrapper .advance_search_wrapper select.orderby {
    width: 100%;
    margin: 0;
}
.price_slider {
    float: left;
    width: 100%;
}
.price_slider span {
    font-size: 14px;
    text-transform: capitalize;
}
.price_slider #priceSliderVal {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-left: 22px;
}
.search_form .btn_wrapper {
    margin: 30px 0 0px;
        border-radius: 5px;
}
.advance_search_wrapper .rs_btn {
       padding: 10px 68px 10px 20px;
    font-size: 16px;
    width: 100%;
    line-height: 26px;
    height: 50px;
}
.advance_search_wrapper .rs_btn:before {
    width: 50px;
}
.advance_search_wrapper .rs_btn:after {
    right: 20px;
}
.pagger_wrapper {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0 50px;
}
.pagger_wrapper .pagination span i:before {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.pagger_wrapper .pagination > li > a,
.pagger_wrapper .pagination > li > span {
  position: relative;
  float: left;
      padding: 12px 12px;
    line-height: 0.5;
  text-decoration: none;
  margin: 0 6px;
  font-size: 14px; 
  font-family: 'Poppins', sans-serif;
}
.recent_properties {
    float: left;
    width: 100%;
}
.recent_properties ul {
    padding: 0;
    margin: 0;
}
.recent_properties ul li {
    list-style: none;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.recent_properties ul li .property_img {
    height: 100px;
    width: 100px;
    display: inline-block;
    float: left;
    position: relative;
}
.recent_properties ul li .property_img img {
    max-width: 100%;
}
.recent_property_detail h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: bold;
    line-height: 28px;
}
.recent_properties ul li .recent_property_detail p {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.recent_property_detail span {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.recent_property_detail {
    padding: 6px 15px;
    width: 61.9%;
    float: left;
    border-left: 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* category */
.widget_category {
    float: left;
    width: 100%;
    padding: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.widget_category:after {
    content: "";
    position: absolute;
    top: -22%;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    z-index: -1;
}
.widget.widget_category ul li {
    font-size: 14px;
}
.widget.widget_category ul li a {
    display: block;
    text-transform: capitalize;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    -moz-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, -webkit-transform 0.3s;
}
.widget.widget_category ul li a:before {
    content: "\e03b";
    font-family: Flaticon;
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.3s,-webkit-transform 0.3s;
    -moz-transition: opacity 0.3s,-moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
.widget.widget_category ul li a:hover:before {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}
.widget.widget_category ul li i:before {
    font-size: 11px;
    margin: 0;
    margin-right: 13px;
}
.widget.widget_category ul li i {
    margin: 0;
    -webkit-transition: color 0.3s,-webkit-transform 0.3s;
    -moz-transition: color 0.3s,-webkit-transform 0.3s;
    transition: color 0.3s,-webkit-transform 0.3s;
}
.widget.widget_category ul li a:hover i {
    opacity: 0;
}
.widget.widget_search .search_form {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.widget.widget_search .search_form .form-control {
    border-radius: 0;
    height: 42px;
    position: relative;
    box-shadow: none !important;
    background-color: #ededef;
    border: 0px;
    padding: 6px 75px 6px 12px;
}
.widget.widget_search .search_form .search_btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 7px 29px 7px 29px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
    z-index: 1;
    border: 0px;
    overflow: hidden;
    text-decoration: none;
}

.widget.widget_search .search_form .search_btn i:before {
    margin: 0;
    display: inline-block;
    font-size: 16px;
    padding: 3px 0 3px 0;
}
.addvertie_wrapper {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.addvertie_wrapper img {
    width: 100%;
    height: 100%;
}

/* category */
/********* grid_view sidebar end ********/
/********* grid_view page end ********/

/********* list_view page start ********/
.list_view .property_detail h5 {
    display: inline-block;
    float: left;
    width: 80%;
}
.property_content span {
    float: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    width: 20%;
    text-align: right;
    line-height: 21px;
}
.property_detail p {
    float: left;
    width: 100%;
    font-size: 13.99px;
    font-family: 'Poppins', sans-serif;
}
.list_view .col-lg-7.col-md-7.col-sm-7 {
    padding-left: 0;
}
.list_view .col-lg-5.col-md-5.col-sm-5 {
    padding-right: 0;
}
.list_view .property_content {
    padding: 8px 34px 0 27px;
}
.list_view .property_detail ul {
    padding: 11px 10px 12px;
}
.list_view .property_detail ul li {
    padding: 0 25px 0 20px;
}
.list_view .property_detail {
    border-left: 0px;
}
.grid_view1 .property_detail h5 {
    display: inline-block;
    float: left;
    width: 80%;
}
.grid_view1 .col-lg-7.col-md-7.col-sm-7 {
    padding-left: 0;
}
.grid_view1 .col-lg-5.col-md-5.col-sm-5 {
    padding-right: 0;
}
.grid_view1 .property_content {
    padding: 17px 34px 17px 30px;
}
.grid_view1 .property_detail ul {
    padding: 11px 10px 12px;
}
.grid_view1 .property_detail ul li {
    padding: 0 25px 0 20px;
}
.grid_view1 .property_detail {
    border-left: 0px;
}
.grid_view1 .property_detail {
   
    border-top: 1px solid #eeeeee;
}
/********* list_view page end ********/

/********* agent_list_view page end ********/
.addvertise_wrapper {
    float: left;
    width: 100%;
    padding: 40px 0 40px 0;
    z-index: 1;
    position: relative;
    overflow-x: hidden;
    margin: 75px 0;
}
.addvertise_wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    right: -54%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
}
.agent_wrapper .filter_wrapper select.orderby {
    margin: 45px 0 0;
}
.agent_wrapper label {
    margin: 45px 0 0;
}
.addvertise_wrapper h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
.addvertise_wrapper p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.addvertise_wrapper span {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
}
.addvertise_btn_wrapper {
    float: left;
    width: 100%;
    text-align: center;
}
.addvertise_btn_wrapper h4 {
    display: inline-block;
    line-height: 45px;
}
.agent_wrapper .pagger_wrapper {
    padding: 40px 0 60px;
}
/********* agent_list_view page end ********/

/********* agent_single page start ********/
.agent_profile {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.agent_profile .agent_image {
    float: left;
    width: 100%;
}
.agent_profile .agent_image img {
    width: 100%;
}
.agent_profile .agent_overlay {
    top: 40%;
    text-align: left;
    padding: 0px 25px 25px;
}
.agent_profile h6 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0 5px;
    line-height: 24px;
}
.agent_profile .agent_detail {
    float: left;
    width: 100%;
}
.agent_profile .agent_detail p {
    margin: 0;
    line-height: 40px;
}
.agent_profile .agent_overlay:after {
     -webkit-transform: skewy(-11deg);
    -moz-transform: skewy(-11deg);
    -o-transform: skewy(-11deg);
    transform: skewy(-11deg);
}
.agent_profile .social_wrapper {
    padding: 20px 0;
}
.agent_profile_detail {
    float: left;
    width: 100%;
}
.agent_profile_detail h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    position: relative;
    line-height: 30px;
    margin-bottom: 22px;
}
.agent_profile .agent_detail span {
    font-family: 'Poppins', sans-serif;
}
.agent_profile_detail h6:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 35px;
}
.agent_profile_detail p {
    margin-bottom: 35px;
}
.agent_property_wrapper {
    float: left;
    width: 100%;
    padding: 25px 0 100px;
}
/********* agent_single page end ********/

/********* property_detail_v1 page start ********/
.rs_heading h2 {
    font-size: 25px;
    margin: 0;
    line-height: 29px;
    display: inline-block;
    float: left;
    padding-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
.rs_heading h2 span {
    font-size: 15px;
    text-transform: capitalize;
}
.rs_heading_wrapper ul.facility {
    margin: 0;
}
.rs_heading ul.facility li {
    padding: 0 9px;
    list-style: none;
    float: left;
    display: inline-block;
    font-size: 19px;
    text-transform: capitalize;
    font-family: "Karla-Regular";
}
.rs_heading ul.facility li i:before {
    font-size: 12px;
    padding-right: 6px;
    margin: 0;
}
.property_detail_wrapper {
    float: left;
    width: 100%;
}
.property_image {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.property_image:hover img{
    /* transform:scale(1.1);
    transition:3s ease; */
}
.property_image:after {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: -85%;
    transform: skewY(-13.2deg);
    -webkit-transform: skewY(-13.2deg);
    -moz-transform: skewY(-13.2deg);
    -ms-transform: skewY(-13.2deg);
    -o-transform: skewY(-13.2deg);
}
.property_image img {
    width: 100%;
}
.property_post_detail {
    width: 100%;
    float: left;
    padding: 0 50px 50px;
    border-top: 0px;
}
.property_post_overlay {
    position: relative;
    margin-top: -20%;
    padding: 50px 50px 0;
    float: left;
    width: 100%;
    z-index: 1;
    top: 165px;
}
.authore_detail {
    float: right;
    width: 100%;
    text-align: left;
    /*padding: 50px 50px 0;*/
    
}
.authore_detail span {
    font-size: 13px;
    text-transform: capitalize;
    line-height: 135px;
    padding: 0 7px;
    margin: 0 0 0 -64px;
}
.authore_img_wrapper {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
    margin-bottom: 40px;
    text-align: left;
}
.authore_img_wrapper img {
    
    border-radius: 100%;
   
}
.ameneties_wrapper {
    float: left;
    width: 100%;
}
.ameneties_wrapper ul.ameneties {
    padding: 0;
    margin: 0;
    width: 33.3%;
    float: left;
}
.ameneties_wrapper ul.ameneties li {
    float: left; 
    width: 100%;
    text-transform: capitalize;
    padding-bottom: 37px;
    list-style: none;
}
.ameneties_wrapper ul.ameneties li i:before {
    margin: 0;
    margin-right: 5px;
    font-size: 14px;
}
.property_post_detail h5 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 20px 0;
    margin: 0 0 20px;
    position: relative;
    font-family:'Source Sans Pro', sans-serif;
}
.property_post_detail h5:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 35px;
    height: 2px;
}
.location_map_warpper {
    width: 100%;
    float : left;
    margin-bottom:30px;
}
.location_map_warpper #real_map {
    width: 100%;
    height : 270px;
}
.document_warpper {
    width: 100%;
    float : left;
}
.document_warpper ul {
    padding: 0;
    margin: 0;
}
.document_warpper ul li {
    list-style: none;
    float: left;
    padding-right: 60px;
}
.document_warpper ul li i:before {
    font-size: 13px;
    margin: 0;
    padding-right: 5px;
}
.share_warpper {
    float: left;
    width: 100%;
}
.share_warpper ul {
    padding: 0;
    margin: 0;  
}
.share_warpper ul li  {
    list-style: none;
    float: left;
}
.share_warpper ul li a {
    width: 25px;
    height: 25px;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 100%;
    margin-right: 30px;
    position:relative;
    z-index: 1;
    -webkit-transition: opacity 0.35s, scale 0.35s;
    -moz-transition: opacity 0.35s, scale 0.35s;
    -ms-transition: opacity 0.35s, scale 0.35s;
    -o-transition: opacity 0.35s, scale 0.35s;
    transition: opacity 0.35s, scale 0.35s;
}
.share_warpper ul li a:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: inherit;
    visibility: hidden;
    -webkit-animation: zoomOut 0.6s;
    -moz-animation: zoomOut 0.6s;
    -ms-animation: zoomOut 0.6s;
    animation: zoomOut 0.6s;
    -webkit-transition: opacity 0.35s, scale 0.35s;
    -moz-transition: opacity 0.35s, scale 0.35s;
    -ms-transition: opacity 0.35s, scale 0.35s;
    -o-transition: opacity 0.35s, scale 0.35s;
    transition: opacity 0.35s, scale 0.35s;
}
.share_warpper ul li a:hover:after {
    visibility: visible;
    -webkit-animation: zoomIn 0.6s;
    -moz-animation: zoomIn 0.6s;
    -ms-animation: zoomIn 0.6s;
    animation: zoomIn 0.6s;
}
.share_warpper ul li:last-child a {
    margin: 0px;
}
.share_warpper ul li a i:before {
    margin: 0px;
    font-size: 14px;
}
.simillar_project_wrapper {
    float: left;
    width: 100%;
    padding-bottom: 30px;
}
.owl-carousel .owl-stage-outer {
    height: 100% !important;
}
/********* property_detail_v1 page end ********/

/********* property_detail_v2 page start ********/
.property_image_wrapper {
    position: relative;
    float: left;
    width: 100%;
}
.property_detail_version2 .property_image .owl-nav .owl-prev, .property_detail_version2 .property_image .owl-nav .owl-next {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 6px 15px 6px 63px;
    position: relative;
    border-radius: 0px !important;
    outline: none;
    box-shadow: none;
    z-index: 1;
    text-align: center;
    border: 0px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    overflow: hidden;
    left: 0;
    position: absolute;
    top: 0;
}
.property_detail_version2 .property_image .owl-nav .owl-prev:before, .property_detail_version2 .property_image .owl-nav .owl-next:before {
    content: "";
    top: 0;
    line-height: 35px;
    border-radius: 0;
    border: 0;
    z-index: -1;
    position: absolute;
    display: block;
    left: 0;
    width: 50px;
    height: 100%;
}
.property_detail_version2 .property_image .owl-nav .owl-prev:after, .property_detail_version2 .property_image .owl-nav .owl-next:after {
    content: "\e02a";
    font-family: Flaticon;
    left: 20px;
    position: absolute;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.property_detail_version2 .property_image .owl-nav .owl-next:before {
    content: "";
    right: 0;
    left: auto;
}
.property_detail_version2 .property_image .owl-nav .owl-next {
    left: auto;
    right: 0;
    padding: 6px 76px 6px 27px;
}
.property_detail_version2 .property_image .owl-nav .owl-next:after {
    content: "\e03b";
    right: 20px;
    left: auto;
}
.property_detail_version2 .property_image .owl-nav .owl-prev:hover:after, .property_detail_version2 .property_image .owl-nav .owl-next:hover:after {
    -webkit-animation-name: btn_hover;
    -moz-animation-name: btn_hover;
    -ms-animation-name: btn_hover;
    -o-animation-name: btn_hover;
    animation-name: btn_hover;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.property_detail_version2 .property_post_overlay {
    margin-top: -25%;
}
.property_detail_version2 .property_image:after{
    display: none;
}
.property_detail_wrapper.property_detail_version2 .property_post_overlay:after {
    display: none;
}
.property_detail_wrapper.property_detail_version2 .property_post_detail h5 {
    padding-top: 36px;
}
/********* property_detail_v2 page end ********/

/********* blog_page_v1 page start ********/
.blog_page_wrapper {
    float: left;
    width: 100%;
}
.blog_post {
    float: left;
    width: 100%;
    padding-top: 100px;
    overflow:hidden;
}
.blog_post_wrapper {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 88px;
}
.blog_post_wrapper:before {
    content: "";
    width: 65px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: -1%;
    -webkit-transform: skewx(29deg);
    -moz-transform: skewx(29deg);
    -o-transform: skewx(29deg);
    transform: skewx(29deg);
    z-index: 1;
}
.blog_post_wrapper:after {
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: -1%;
    -webkit-transform: skewx(29deg);
    -moz-transform: skewx(29deg);
    -o-transform: skewx(29deg);
    transform: skewx(29deg);
    z-index: 1;
}
.blog_post_wrapper:last-child {
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.blog_post_wrapper:last-child:before, .blog_post_wrapper:last-child:after {
    display: none;
}
.blog_img_wrapper {
    float: left;
    width: 100%;
    position: relative;
}
.blog_img_wrapper img {
    max-width: 100%;
}
.blog_content_wrapper {
    float: left;
    width: 100%;
    padding: 45px 0;    
}
.blog_content_wrapper .btn_wrapper a {
    /* padding: 13px 111px 10px 95px; */
    width: 20%;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.date_wrapper {
    width: 70px;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
}
.date_wrapper span {
    display: block;
    text-transform: uppercase;
    width: 54px;
    height: 100%;
    padding: 4px 0 7px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}
.date_wrapper .date {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.date_wrapper small {
    font-size: 12px;
    margin: 0px;
    display: block;
}
.date_wrapper span i:before {
    margin: 0px;
}
.date_wrapper .post_icon {
    padding: 18px 0 11px;
    margin-top: 10px;
}
.post_content {
    padding-left: 15px;
    float: left;
    width: 100%;
}
.post_content h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 29px;
    margin: 0px;
    padding-bottom: 10px;
}
.post_content h3 a, .post_content h3 a:hover, .post_content h3 a:focus {
    text-decoration: none;
}
.post_content .post-meta {
    float: left;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.post_content .post-meta:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 35px;
}
.post_content .post-meta span {
    float: left;
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    text-transform: capitalize;
    position: relative;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}
.post_content .post-meta span:first-child {
    padding-left: 0px;
}
.post_content .post-meta a {
    text-decoration: none;
}
.post_content .post-meta span:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.post_content .post-meta span:last-child:after {
    display: none;
}
/********* blog_page_v1 page end ********/

/********* blog_page_v2 page end ********/
.blog_new_wrapper {
    float: left;
    width: 100%;
    padding-top: 100px;
}
.post_content .btn_wrapper {
    margin: 0 0 45px;
}
.blog_new_wrapper .post_content {
    padding-left: 30px;
}
.blog_new_wrapper .date_wrapper {
    width: 80px;
    margin: 0px;
}
.blog_new_wrapper .date_wrapper span {
    width: 100%;
    height: 100%;
    padding: 12px 0 22px;
}
.blog_new_wrapper .date_wrapper p {
    font-size: 14px;
    margin: 0px;
}
.blog_new_wrapper .date_wrapper .post_icon {
    padding: 33px 0 20px;
}
.post_content blockquote {
    margin: 25px 0 25px 30px;
}
/********* blog_page_v2 page end ********/

/********* blog_single page start ********/
.blog_post .blog_post_wrapper {
    margin-bottom: 50px;
}
.blog_post .post_content {
    padding-left: 35px;
}
.share_icons {
    float: left;
    width: 70px;
    text-align: center;
    margin-top: 5px;
}
.share_icons ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 55px;
}
.share_icons ul li {
    display: block;
    list-style: none;
}
.share_icons ul li a {
    width: 100%;
    height: 69px;
    display: block;
    text-decoration: none;
    line-height: 69px;
}
.share_icons ul li a i:before {
    margin: 0;
    font-size: 20px;
}
/** Comment Section **/
.post_comment_wrapper {
    float: left;
    width: 100%;
}
.post_comment_wrapper .comments-title {
    font-size: 18px;
    margin: 0 0 60px;
}
.post_comment_wrapper .comments-title i:before {
    margin: 0px 15px 0 0;
    font-size: 18px;
}
.post_comment_wrapper .comments-title span {
    font-family: 'Poppins', sans-serif;
}
.post_comment {
    float: left;
    width: 100%;    
}
.post_comment> ul {
    padding: 0;
    margin: 0;  
}
.post_comment ul li {
    list-style: none;
    float: left;
    display: block;
}
.comment_wrapper {
    float: left;
    width: 100%;
    padding:44px 0 20px;    
    position: relative;
}
.comment_wrapper:after {
    content: "";
    width: 4px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 50px;
    -webkit-transform: skewx(29deg);
    -moz-transform: skewx(29deg);
    -o-transform: skewx(29deg);
    transform: skewx(29deg);
    z-index: 1;
}
.author_img_wrapper {
    width: 92px;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
}
.avtar_img {
    width: 100%;
    height: 95px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.avtar_img:after {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    top: 85%;
    left: 0;
}
.avtar_img img {
    width: 100%;
    height: 100%;
}
.comment-reply-link, .comment-reply-link:hover, .comment-reply-link:focus {
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    display: block;
}
.authore_content {
    float: left;
    width: 86%;
    padding-left: 30px;
}
.comment_wrapper h6 {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    font-weight: 600;
}
.comment_wrapper span {
    padding-bottom: 10px;
    display: block;
}
.comment-reply-link i:before {
    margin: 0;
    font-size: 13px;
    margin-right: 2px;
}
.comment_wrapper .col-lg-2.col-md-2 {
    text-align: center;
}
.post_comment ul.children {
    padding: 0;
    margin: 0;
}
.post_comment ul.children .comment_wrapper {
    padding-left: 130px;
}
.comment-form-wrapper {
    float: left;
    width: 100%;
    padding: 40px 0 100px;
}
.comment-reply-title h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 35px 0 30px;
    text-transform: uppercase;
}
.comment-form-wrapper .rs_btn {
    font-size: 11px;
    font-weight: 600;
    padding: 10px 66px 10px 26px;
}
.comment-form-wrapper .btn.rs_btn:before {
    right: 0;
}
.comment-form-wrapper .btn.rs_btn:after {
    content: "\e017";
    font-family: Flaticon;
    right: 15px;
    position: absolute;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.comment-form-wrapper .btn.rs_btn:hover:after {
    -webkit-animation-name: btn_hover;
    -moz-animation-name: btn_hover;
    -ms-animation-name: btn_hover;
    -o-animation-name: btn_hover;
    animation-name: btn_hover;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/** Comment Section **/
/********* blog_single page end ********/

/********* contact page start ********/
.contactus_wraper {
    float: left;
    width: 100%;
}
.contact_section {
    float: left;
    width: 100%;
    padding: 0px 0 140px;
}
.contactus_form_wraper {
    float: left;
    width: 100%;
}
.contactus_form_wraper .form-control {
    padding: 10px 12px;
}
.contactus_form_wraper .form-group {
    margin-bottom: 20px;
}
.contact_detail_wrapper {
    float: left;
    width: 100%;
    padding: 35px 35px 46px;
}
.contact_detail_wrapper h6 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0;
}
.contact_detail_wrapper ul {
    padding: 0;
    margin: 0;
}
.contact_detail_wrapper ul li {
    list-style: none;
    font-size: 15px;
    padding: 17px 0;
    font-family: 'Poppins', sans-serif;
}
.contact_detail_wrapper ul li:last-child { 
    border: 0px;
}
.contact_detail_wrapper ul li a {
    text-decoration: none;
    font-size: 15px;
}
.contact_detail_wrapper ul li p {
    padding-left: 34px;
    margin: 0;
}
.contact_detail_wrapper ul li i {
    float: left;
}
.contact_detail_wrapper ul li i:before {
    margin: 0;
    font-size: 15px;
}
.contactus_form_wraper .btn_wrapper {
    width: 100%;
    margin: 0;
}
.contactus_form_wraper .rs_btn {
    display: block;
    width: 25%;
    text-align: center;
}
.contactus_form_wraper .rs_btn:before {
    right: 0;
    width: 50px;
}
.contactus_form_wraper .rs_btn:after {
    content: "\e017";
    font-family: Flaticon;
    right: 17px;
    position: absolute;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.contactus_form_wraper .rs_btn:hover:after {
    -webkit-animation-name: btn_hover;
    -moz-animation-name: btn_hover;
    -ms-animation-name: btn_hover;
    -o-animation-name: btn_hover;
    animation-name: btn_hover;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.contact_map {
    float: left;
    width: 100%;
}
.contact_map #real_map {
    height: 590px;
}
/********* contact page end ********/

/********* error page end ********/
.error_page_wraper {
    float: left;
    width: 100%;
}
.error_wrapper {
    float: left;
    width: 100%;
    text-align: center;
    padding: 131px 0;
}
.error_wrapper h1 {
    font-size: 218px; 
    line-height: 98px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 0 30px;
    margin: 0;
}
.error_wrapper h2 {
    font-size: 46px; 
    line-height: 98px;
    font-weight: 300;
    font-family:'Source Sans Pro', sans-serif;
}
.error_wrapper h3 {
    font-size: 24px; 
    line-height: 29px;
    font-weight: 300;
    padding: 0 11%;
    margin: 20px 0 10px;
}
.error_wrapper span {
    font-size: 33px;
    line-height: 29px;
    text-transform: uppercase;
}
.error_wrapper h4 {
    line-height: 29px;
    font-size: 24px;
    margin: 27px 0 15px; 
}
.link_wrapper {
    float: left;
    width: 100%;
    padding: 50px 0 0;
}
.error_wrapper ul {
    width: 33%;
    padding: 0;
    margin: 0;
    float: left;
}
.error_wrapper ul li {
    display: block;
    text-align: left;
}
.error_wrapper ul li a {
    text-decoration: none;
    font-size: 14px;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    text-transform: capitalize;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    -ms-transition: opacity 0.3s, -moz-transform 0.3s;
    -o-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
.error_wrapper ul li a:before {
    content: "\e03b";
    font-family: Flaticon;
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.3s,-webkit-transform 0.3s;
    -moz-transition: opacity 0.3s,-moz-transform 0.3s;
    -ms-transition: opacity 0.3s,-moz-transform 0.3s;
    -o-transition: opacity 0.3s,-moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
}
.error_wrapper ul li a i:before {
    margin: 0 13px 0 0;
    font-size: 14px;
}
.error_wrapper ul li a:hover:before {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}
.error_content {
    float: left;
    width: 100%;
    padding-top: 70px;
}
.error_content p {
    padding: 0 21px;
}
.error_search_wrapper {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 30px 0 70px;
}
.error_search_wrapper .rs_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 16px;
    padding: 13px 40px 13px 29px;
}
.error_search_wrapper .form-control {
    height: 48px;
    padding: 6px 150px 6px 12px;
}
.error_search_wrapper .rs_btn:before {
    content: "";
    font-family: 'Poppins', sans-serif;
    top: 0;
    line-height: 35px;
    border-radius: 0;
    border: 0;
    z-index: -1;
    position: absolute;
    display: block;
    -webkit-transform: skewx(-29deg);
    -ms-transform: skewx(-29deg);
    -moz-transform: skewx(-29deg);
    -o-transform: skewx(-29deg);
    transform: skewx(-29deg);
    right: -29%;
    width: 120%;
    height: 100%;
    opacity: 0;
}
/********* error page end ********/

/********* faq page start ********/
.faq_page_wrapper {
    float: left;
    width: 100%;
}
.faq_wrapper {
    float: left;
    width: 100%;
    padding: 40px 0 125px;
}
.faq_content_wrapper {
    float: left;
    width: 100%;
}
.panel-default > .panel-heading .panel-title > a:before {
    content: "\e031";
    font-family: Flaticon;
    right: 0;
    position: absolute;
    font-weight: 600;
    font-size: 14px;
    display: block;
    height: 100%;
    top: 0;
    width: 45px;
    line-height: 45px;
    text-align: center;
}
.panel-default > .panel-heading .panel-title > a.collapsed:before {
    content: "\e037";
}
.faq_content_wrapper .panel-title > a, .panel-title > small, .faq_content_wrapper  .panel-title > .small, .faq_content_wrapper  .panel-title > small > a, .faq_content_wrapper  .panel-title > .small > a {
    color: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 15px 23px;
    display: block;
    position: relative;
    z-index: 1;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, -webkit-transform 0.3s;
}
.faq_content_wrapper .panel-title > a:hover, .faq_content_wrapper .panel-title > a:focus, .faq_content_wrapper .panel-title > a:active {
    text-decoration: none;
}
/********* faq page end ********/

/********* compare property page start ********/
.compare_page_wrapper {
    float: left;
    width: 100%;
    padding: 50px 0 100px;
}
.compare_property_wrapper {
    float: left;
    width: 100%;
}
.compare_property_wrapper .table-responsive {
    border: 0px;
}
.compare_property_wrapper .tag_sale {
    position: absolute;
    top: 178px;
    right: 132px;
    min-width: 50px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    z-index: 1;
    /* line-height: 30px; */
    height: 21px;
}
.compare_heading p {
    font-size: 10px;
    font-weight: 300;
}
.compare_heading h6 strong {
    display: block;
}
.compare_heading h6 {
    font-size: 13px;
}
.compare_heading {
    float: left;
    width: 100%;
    padding: 40px 19px 39px 33px;
    font-weight: normal;
    font-size: 13px;
}
.compare_img {
    float: left;
    width: 100%;
    position: relative;
}
.compare_img img {
    width: 100%;
}
.compare_property_wrapper table tr:first-child td {
    padding: 0px;
    border-top: 0px;
    /* width: 25%; */
}
.compare_heading a, .compare_heading a:hover {
    text-decoration: none;
}
.compare_property_wrapper table > tbody {
    float: left;
    width: 100%;
}
.compare_property_wrapper table > tbody > tr > td {
    padding: 21px 33px 21px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-right: 30px;
    float: left;
    width: 23.68%;
}
.compare_property_wrapper table tr td:last-child {
    margin: 0px !important;
}
.compare_property_wrapper table tr td:first-child {
    font-weight: bold;
    text-align: left;
    border-right: 0px;
    margin: 0px;
}
.compare_property_wrapper table tr td:last-child {
    border-right: 0px;
}
.compare_property_wrapper table tr {
    float: left;
    width: 100%;
}
.compare_property_wrapper table > tbody > tr > td i:before {
    margin: 0;
    font-size: 13px;
}
.compare_property_wrapper table > tbody > tr:last-child td {
    padding: 27px 33px 28px;
}
.compare_property_wrapper table tr:nth-child(2) td {
    padding: 50px 33px 20px;
}
/********* compare property page end ********/

/********* motrgage calculator page start ********/
.motrgage_calculator_wrapper {
    float: left;
    width: 100%;
    padding: 50px 0 100px;
}
.calculator_wrapper {
    float: left;
    width: 100%;    
}
.calculator_wrapper label {
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.calculator_wrapper label a {
    text-decoration: underline;
    font-size: 10px;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
}
.calculator_wrapper .form-group {
    margin-bottom: 27px;
    font-family: 'Poppins', sans-serif;
}
.calculator_wrapper .form-control {
    height: 50px;
    border: 0px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.calculator_notification {
    float: left;
    width: 100%;
    padding-top: 25px;
}
.calculator_wrapper .btn_wrapper {
    width: 100%;
    margin: 40px 0;
}
.calculator_wrapper .rs_btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px ;
    font-family: 'Poppins', sans-serif;
}
.calculator_wrapper .rs_btn:after {
    content: "\e017";
    font-family: Flaticon;
    right: 20px;
    position: absolute;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.calculator_wrapper .rs_btn:hover:after {
    -webkit-animation-name: btn_hover;
    -moz-animation-name: btn_hover;
    -ms-animation-name: btn_hover;
    -o-animation-name: btn_hover;
    animation-name: btn_hover;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.calculator_wrapper .rs_btn:before {
    right: -40%;
    width: 50%;
}
.motargage_table_wrapper {
    float: left;
    width: 100%;
    padding-top: 30px;
}
.motargage_table_wrapper table {
    float: left;
    width: 100%;
}
.motargage_table_wrapper .table > thead > tr > th {
    width: 25%;
    font-size: 14px;
    text-transform: capitalize;
    border: 0px;
    font-weight: 600;
    float: left;
}
.motargage_table_wrapper .table > tbody > tr > td {
    font-size: 14px;
    padding: 13px 15px 12px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.motargage_table_wrapper table tbody tr:first-child td {
    border: 0px;
}
.motargage_table_wrapper table tbody tr td:first-child {
    text-align: center;
}
.motargage_table_wrapper table tbody {
    height: 340px;
    overflow-y: scroll;
    display: block;
    float: left;
    width: 100%;
}
.motargage_table_wrapper table tr {
    float: left;
    width: 100%;
}
.motargage_table_wrapper table tbody tr td, .motargage_table_wrapper table tbody tr th {
    width: 25%;
    float: left;
}
.motargage_table_wrapper table tbody::-webkit-scrollbar, .motargage_table_wrapper .table-responsive::-webkit-scrollbar {
    width: 30px;
    height: 10px;
    margin: 0 5px; 
}
.motargage_table_wrapper .table-responsive {
    border: 0px;
}
.motrgage_detail {
    float: left;
    width: 100%;
    padding: 40px 50px;
    font-size: 15px;
    margin-bottom: 20px;    
}
.motrgage_detail strong {
    font-family: 'Poppins', sans-serif;   
}
.matrgage_content {
    float: left;
    width: 100%;
    margin: 36px 0 25px;
}
/********* motrgage calculator page end ********/

/********* about us page start ********/
.aboutus_wrapper {
    float: left;
    width: 100%;
}
.about_wrapper {
    float: left;
    width: 100%;    
}
.about_content {
    float: left;
    width: 100%;
}
.about_detail_wrapper {
    float: left;
    width: 100%;
}
.about_detail_wrapper h5 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 20px;
    margin: 0 0 20px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}
.about_detail_wrapper h5:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 35px;
    height: 2px;
}
.about_detail_wrapper span {
    text-decoration: none;
    float: left;
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    line-height: 60px;
    text-align: center;
    z-index: 1;
}
.about_detail_wrapper span i:before {
    margin: 0px;
    font-size: 35px;
    display: inline-block;
    z-index: 1;
}
.ameneties_detail {
    float: left;
    width: 82%;
    padding-left: 35px;
}
.partner_img {
    float: initial;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}
.partner_wrapper {
    float: left;
    width: 100%;
    padding-bottom: 80px;
}
.partner_slider {
    float: left;
    width: 100%;
}
.aboutus_wrapper .featured_property_wraper {
    padding-bottom: 0px;
}
.aboutus_wrapper .owl-dots {
    display: none;
}
/********* about us page end ********/

.rated_property_wrapper .img_overlay .list-inline {
    padding-left: 0;
    list-style: none;
     margin: 0px;
     margin-left: -1px;
}
.rated_property_wrapper .img_overlay .list-inline > li {
    display: inline-block;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    padding: 10px 11px 8px 11px;
    margin-right: -5px;
    border-right: 1px solid transparent;
    font-size: 12px;
}
.rated_property_wrapper ul {
    display: block;
    padding: 0;
    float: left;
    width: 100%;
    margin-bottom:0px;
}
.rated_property_wrapper ul li {
    float: left;
    display: inline;
   padding: 6px 3px 8px 15px;
    font-size: 12px;
    margin: 0 0 0 0px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.rated_property_wrapper ul .od {
    width: 31%;
}
.rated_property_wrapper ul .ev {
    width: 37%;
}
.rated_property_wrapper ul .off_border {
    border-right: none;
}
.rated_property_wrapper ul li i:before {
    font-size: 12px;
    padding-right: 6px;
    margin: 0;
}
.featured_property_wraper .rs_heading h3{
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}
.featured_property_wraper .rs_heading p{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
#fade-quote-carousel{
    margin-top: 85px;
}
.carousel-indicators {
    top: 110%;
}
.icon_wrapper1 {
    float: left;
    display: inline-block;
    margin: 0 0 0 50%;
    text-align: center;
    border-radius: 60px;
    position: relative;
}

.owl-carousel .owl-item img {
    display: block;
    width: 10%;
}

.dark_content_wrapper .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
}

.slider-horizontal .slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
}
.slider-horizontal .slider-selection {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0px;
}
.faq_wrapper .panel-default > .panel-heading + .panel-collapse > .panel-body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* Banner Slider Text */

/* Simple_banner */


/*Revolutional Slider */

/* Map Based Template
--------------------------------------------------------*/
.newrated_property_wrapper .newrs_btn {
    width: 100%;
    color: #ffffff;
background: #243040;
}
.newbtn_wrapper{
    float: left;
width: 100%;
overflow: hidden;
    position: absolute;
bottom: 0;
}
.newimg_overlay {
    float: right;
    position: absolute;
    width: 279px;
    right: 12px;
    background-color: #eef1f5;
    height: 246px;
}
.newrated_property_img {
    float: left;
    width: 279px;
}
.newoverlay {
    padding: 34px 16px 9px 16px;
}
.newimg_overlay ul li {
    display: inline;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 7px 11px 6px 12px;
    float: left;
}
.btn.newrs_btn::before {
    content: "";
    top: 0;
    line-height: 35px;
    border-radius: 0;
    border: 0;
    z-index: -1;
    position: absolute;
    display: block;
    right: 0;
    width: 40px;
    height: 100%;
    background: #0363a7;
    color: #ffffff;
}
.newrs_btn::after {
    content: "\e017";
    font-family: Flaticon;
    right: 12px;
    position: absolute;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/* */

.banner_2 .tab-content > .active {
    display: block;
}

/* Video Banner */

/* 
.option-bar.large {
    float: left;
    margin-left: 22px;
}
.advancesearch_box{
    background-color: #fff;
}
.advancesearch_box .option-bar input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: 34px;
}
.advance-search .option-bar {
    float: left;
    margin-right: 15px;
}
.search_overimage .option-bar.large {
    float: left;
    margin-left: 20px;
}
.search_overimage .as-form-wrap {
    background-color: #fff;
}
.search_overimage .select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
*/
label {
   
    margin-bottom: 5px;
}
.Advance_search select.form-control {
    width: 180px;
}
.Advance_search {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
.Advance_search .advancebox{
    margin-bottom: 15px;
}
.Advance_search .advancebox .form-group {
    margin-left: 11px;
}
.search_overimage .soi_title {
    margin-bottom: -10px;
    width: 50%;
}
.search_overimage .soi_title h2 {
    padding: 14px 0 14px 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
.advanced-expander {
    float: right;
    padding: 5px;
    margin-bottom: 15px;
}
.Advance_search .panel-heading-box .accordion-toggle.collapsed:after {
    content:"\2b";
    border: 1px solid;
    margin: 0 8px 0 14px;
    padding: 1px;
    border-radius: 2px;
    font-weight: normal;
    font-size: 9px;
}
.Advance_search .panel-heading-box:hover .accordion-toggle.collapsed:after {
    content:"\2b";
    border: 1px solid;
    margin: 0 8px 0 14px;
    padding: 1px;
    border-radius: 2px;
    font-weight: normal;
    font-size: 9px;
}
.Advance_search .panel-heading-box:hover .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content:"\2212";
    float: left;
    padding: 1px;
    border-radius: 2px;
    font-size: 9px;
    font-weight: normal;
    margin: 0 8px 0 14px;
}
.Advance_search .panel-heading-box .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content:"\2212";
    float: left;
    padding: 1px;
    border-radius: 2px;
    font-size: 9px;
    font-weight: normal;
    margin: 0 8px 0 14px;
}
.Advance_search .panel-title {
    font-size: 14px;
    color: inherit;
    font-weight: 100;
}
.Advance_search .panel-title a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.Advance_search .panel-title a:hover {
    text-decoration: none;
}
.Advance_search #collapseOne label {
    font-weight: normal;
    display: inline-block;
}

.calculator_wrapper .transparent_txt{
    color:transparent;
}

/*--------------------------- NEW FAQ CSS ---------------------- */
.well{
   box-shadow:0 1px 1px transparent inset;
   border: 1px solid transparent;
}
.sidebar_wrapper .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}
.sidebar_wrapper .nav-tabs > li > a {
    border: none; color: #666;
}
.sidebar_wrapper .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #0363a7;
    background: transparent;
}
.sidebar_wrapper .nav-tabs > li > a::after {
    content: "";
    background: #0363a7;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    top: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.sidebar_wrapper .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0 0;
    color: #fff;
}
.sidebar_wrapper .input-group-btn .btn {
    background-color: #363d45;
   color: #fff;
    padding: 10px 20px 10px 15px;
}
.widget-categories{
    margin-top: 15px;
}
.widget-categories ul li i{
    padding-right: 10px;
}
.widget-categories ul li a {
    padding: 8px 0;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #eee;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.widget-categories ul li:first-child a {
    padding-top: 0;
}

.widget-categories ul li a:hover {
  padding-left: 5px;
}
.sidebar_wrapper .nav-tabs{
    border-bottom: 0;
    display: flex;
}
.sidebar_wrapper .widget-popular-post .tab-content li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}
.sidebar_wrapper .widget-popular-post li a {
    font-size: 15px;

}

.sidebar_wrapper  .widget-popular-post .tab-content li:first-child{
    border: none;
}

.sidebar_wrapper  .widget-popular-post li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}


.sidebar_wrapper .widget-popular-post .widget-thumb {
    float: left;
    margin-right: 8px;
    border: 3px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.sidebar_wrapper  .widget-popular-post .widget-thumb img {
    width: 65px;
    height: 65px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.sidebar_wrapper  .widget-popular-post .widget-thumb:hover img {
    opacity: 0.7;
}

.sidebar_wrapper  .widget-popular-post .widget-content h5 {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 5px;
    font-weight: 300;
}

.sidebar_wrapper  .widget-popular-post .widget-content span {
    color: #bbb;
    font-size: 12px;
}

/*Advance Search widgets*/
.sidebar_wrapper .advance-search .form-control{
    border:1px solid rgba(146,170,185,0.3);
}
.sidebar_wrapper .advance-search .amount-slider-range{
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
    border:0;
    color:#1260b6;
    font-weight:bold;
}
.sidebar_wrapper .advance-search .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
    border-radius: 10px;
    background-color: #1260b6;
    color:grey;
}
.sidebar_wrapper .advance-search .ui-slider-handle{
    background-color: #6dd7a6;
    border:1px solid #1260b6
}




/*Recent Properties Widgets*/

.sidebar_wrapper .widget-recent-properties li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}
.sidebar_wrapper .widget-recent-properties li a {
    font-size: 15px;
}


.sidebar_wrapper  .widget-recent-properties li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}


.sidebar_wrapper .widget-recent-properties li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;

}
.sidebar_wrapper .widget-recent-properties li a {
    font-size: 15px;
}


.sidebar_wrapper  .widget-recent-properties li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.sidebar_wrapper .widget-recent-properties .widget-thumb {
    float: left;
    margin-right: 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}

.sidebar_wrapper  .widget-recent-properties .widget-thumb img {
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.sidebar_wrapper  .widget-recent-properties .widget-thumb:hover img {
    opacity: 0.7;
}


.sidebar_wrapper  .widget-recent-properties .widget-content{
    padding-left: 15px;
    height: 100px;
}

.sidebar_wrapper  .widget-recent-properties .widget-content h5 {
    padding-top: 15px;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 5px;
    font-weight: 300;
}

.sidebar_wrapper  .widget-recent-properties .widget-content span {
    color: #bbb;
    font-size: 12px;
}

.sidebar_wrapper  .widget-recent-properties .widget-content p {
    padding-top: 10px;
}


.sidebar_wrapper .widget-recent-properties  .recent-property-info:hover .widget-content{
     box-shadow: inset 0 0 0 1px #1260b6 ;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.sidebar_wrapper .widget-recent-properties  .recent-property-info:hover .widget-content p{
    color: #1260b6;
}
.sidebar_wrapper .input-group .form-control {
    background-color: #fff;
}
.phone_call{
     margin-bottom: -20px;
}
