.banner_wrapper {
    float: left;
    width: 100%;
    position: relative;
    z-index: -2;
    background-size: cover;
    background-position: center center;
    min-height: 422px;
}
.banner_wrapper .banner_overlay {
        background-color: rgba(0, 0, 0, 0.1);
}
.banner_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.banner_wrapper img {
    width: 100%;
}
.search_overimage{
    background-image: url(../images/banner_5.jpg);
    background-size: cover;
}
.search_property1 {
    padding: 20px 0 35px 15px;
}
.search_main_content{
    margin: 50px auto 0;
    width: 820px;
}
.search_property1 h5{
    font-family: 'Poppins', sans-serif;
}
#demo1 h5 {
    font-family: 'Poppins', sans-serif;
}
.Advance_search .panel-body {
    padding: 24px 0 0 0;
}
.searchproperty_btn span{
    margin: 0 -20px 0 20px;
}
.searchproperty_btn {
    margin: 33px 0 0 10px;
}
input#email, input#pwd {
    margin: 0 15px 0 0;
}
.option-bar label {
    font-family: 'Poppins', sans-serif;
    color: #8c8585;
    font-weight: 500;
}


