.banner_wrapper {
    float: left;
    width: 100%;
    position: relative;
    z-index: -2;
    background-size: cover;
    background-position: center center;
    min-height: 422px;
}
.banner_wrapper .banner_overlay {
        background-color: rgba(0, 0, 0, 0.1);
}
.banner_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.banner_wrapper img {
    width: 100%;
}
.custom_slide{
    background-image: url(../images/1900x600.jpg);
    background-repeat: no-repeat;
}
.slide-description {
    position: absolute;

    top: 104px;
    padding: 2px 23px 20px;
    width: 440px;
}
.slide-description span{
    font-size: 18px;
}
.slide-description .know-more {
    text-decoration: none;
    position: absolute;
        bottom: 5px;
    left: 22px;
    display: inline-block;
    padding: 6px 13px 8px;
    font-size: 13px;
}
.btn_wrapper1 .btn{
padding: 13px 54px 10px 28px;
font-size: 12px;
font-family: 'Poppins', sans-serif;
margin-top: 10px;
}
.slide_desc a{
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
.slide_desc {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
/*#myCarousel .carousel-control {
    position: absolute;
    top: 25%;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #ffffff;
    text-align: center;
     text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); 
}*/
#myCarousel .carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 0%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 0%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 0%);
    background-repeat: repeat-x;
    
  
}
#myCarousel .carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
    background-repeat: repeat-x;
}

/* Search OverImage Banner */

h2.soi_title{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    padding: 40px 0 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:bold;

}
p.soi_description{
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 20px;
}
.search_property{
    display: block;
    padding: 25px 0 120px 55px;
    font-family: 'Poppins', sans-serif;
}
