.banner_wrapper {
    float: left;
    width: 100%;
    position: relative;
    z-index: -2;
    background-size: cover;
    background-position: center center;
    min-height: 422px;
}
.banner_wrapper .banner_overlay {
        background-color: rgba(0, 0, 0, 0.1);
}
.banner_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.banner_wrapper img {
    width: 100%;
}
.map_wrap #map-head {
  width: 100%;
  
}

.disable-responsive #map-head {
  min-width: 940px;
}
.map_wrap #listing-map {
  height: 550px;
  position: relative;
}

#listing-map img {
  max-width: none;
}

#listing-map .gm-style-iw {
  left: 22px !important;
}

#listing-map .infoBox > img {
  z-index: 999;
    width: 16px;
}

#listing-map .infoBox > img:hover {

}

#listing-map .map-info-window {
  position: relative;
  width: 244px;
  margin-bottom: 17px;
}

#listing-map .arrow-down {
  width: 0;
  height: 0;
   border-width: 10px 10px 0 10px;
   position: absolute;
  bottom: -13px;
  left: 112px;
}

#listing-map .prop-title {
  margin: 10px 10px;
}

#listing-map .prop-title a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

#listing-map p {
  margin: 10px;
}

#listing-map span.price {
  font-size: 11px;
  line-height: 18px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}